#carouselHolder{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 200;
    overflow: hidden;
}

#carouselHitArea{
    position: absolute;
    width: 100%;
    height: 100%;
    // background: transparent;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    // -webkit-blend-mode: saturation;
}

// .adobe{
//     #carouselHitArea{
//         background: white;
//     }
// }

.carousel-content{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 460px;
    height: 460px;
    margin-left: -250px;
    margin-top: -250px;
    padding: 20px;
    color: black;
    border-radius: 3px;
    // border: 7px solid $blue2;
    background: white;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.4);
    -webkit-transition: all .4s ease-out;
    -webkit-filter: custom($bulb_v $bulb_f, 50 50 filter-box, transform rotateY(0deg) rotateX(0deg) rotateZ(0deg) scale(0.0), delta 1.0, backface 0.0);
    
    &.in{
        -webkit-filter: custom($bulb_v $bulb_f, 50 50 filter-box, transform rotateY(0deg) rotateX(0deg) rotateZ(0deg) scale(1.0), delta 0.0, backface 0.0);
    }

    h3{
        font-size: 32px;
        margin-bottom: 30px;
        font-weight: 100;
    }

    p{
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 20px;
        font-weight: 100;
    }

    img{
        position: absolute;
        bottom: -50px;
        right: -50px;
    }
}

#paradeAboutBtns{
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 50%;
    top: 50%;
    z-index: 200;

    li.parade-about-btn{
        position: absolute;
        padding: 0;
        margin: 0;
        width: 70px;
        height: 70px;
        cursor: pointer;
        background-image: $plus_btn;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        @include transform(scale(.8));
        @include transition(all .2s ease-out);

        &.blue{
            background-image: $plus_btn_blue;
        }

        &.green{
            background-image: $plus_btn_blue;
        }

        &.bw{
            background-image: $plus_btn_bw;
        }

        &.purple{
            background-image: $plus_btn_purple;
        }

        &.yellow{
            background-image: $plus_btn_yellow;
        }

        &.red{
            background-image: $plus_btn_red;
        }

        &:hover{
            // opacity: 1;
            @include transform(rotate(-20deg) scale(1));
        }

    }
}

#paradeBtnDiv{
    left: -280px;
    top: 200px;
}

#paradeBtnCss{
    left: 100px;
    top: 200px;
}

#paradeBtnSvg{
    left: 300px;
    top: 150px;
}

#paradeBtn3d{
    left: -200px;
    top: -150px;
}

#paradeBtnCanvas{
    left: 180px;
    top: -150px;
}

#paradeBtnWebgl{
    left: 0px;
    top: -350px;
}

#paradeBtnBlend{
    left: -30px;
    top: 100px;
}

#paradeBtnShader{
    left: -500px;
    top: 160px;
}

@-webkit-keyframes creditAnimation{
    0%   {
        @include transform(translate(400px, 120px));
        opacity: 0;
        -x-webkit-filter: blur(5px);
    }

	20%, 80% {
        @include transform(translate(0px, 120px));
        opacity: 1;
        -x-webkit-filter: blur(0px);
    }

	100% {
        @include transform(translate(-400px, 120px));
        opacity: 0;
        -x-webkit-filter: blur(5px);
    }
}

#credits{
    display: table;    
    text-align: center;
    overflow: hidden;

    h3{
        text-align: left;
        color: $blue2;
    }
}

.credit-item{
    display: table-cell;
    position: absolute;
    width: 460px;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
    opacity: 0;
}

.credit-byline{
    font-weight: bold;
}

.credit-name{
    margin-top: 10px;
    font-size: 36px;
    font-weight: 100;
}

#resolve{
    text-align: center;

    p{
        font-size: 40px;
        margin-top: 90px;
    }
    
    img.adobe-logo{
        display: block;
        position: absolute;
        top: 0px;
        right: 50px;
        // margin: 50px auto 45px;
    }

    a{
        display: block;
        margin: 210px auto 0px;
        text-decoration: none;
        font-size: 45px;
        color: #003E4F;

        &:hover{
            opacity: .5;
        }
    }
}
