.character{
    position: absolute;
}

#charDIV{
    top: 500px;
    width: 80px;
    height: 80px;
    background: #FFAB56;
    @include transform(translateZ(151px));
}

#charCSS{
    top: 500px;
    left: 2000px;
    width: 80px;
    height: 80px;
    border: 7px solid #FFAD90;
    border-radius: 10px;
    background: #FFAD90;
    z-index: 100;
    cursor: pointer;
    @include transition(all .5s linear);

    &:hover{
        border-color: #D68989;
        border-radius: 30px;
    }
}

#charSVG{
    bottom: -650px;
    left: 3000px;
}
