.character{
    position: absolute;
}

#charDIV{
    top: 500px;
    width: 80px;
    height: 80px;
    background: #FFAB56;
    @include transform-style(preserve-3d);
    @include transform(translateZ(151px));
}

#charCSS{
    top: 500px;
    left: 2000px;
    width: 80px;
    height: 80px;
    border: 7px solid #FFAD90;
    border-radius: 10px;
    background: #FFAD90;
    z-index: 100;
    cursor: pointer;
    @include transition(all .5s linear);

    &:hover{
        border-color: #D68989;
        border-radius: 30px;
    }
}

@-webkit-keyframes rotate{
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes swing{
	0%   { -webkit-transform: rotate(-10deg); }
	100% { -webkit-transform: rotate(20deg); }
}

#charSVG{
    bottom: -650px;
    left: 3000px;
    
    &.animating{
        #circle3, #circle2, #circle1{
            @include transform-origin(center, center);
        }

        #circle1{
            -webkit-animation: rotate 5s infinite linear;
        }

        #circle2{
            -webkit-animation: rotate 7s infinite linear;
        }

        #circle3{
            -webkit-animation: rotate 10s infinite linear;
        }

        #armL{
            @include transform-origin(top, right);
            -webkit-animation: swing 1s infinite ease-in-out alternate;
        }

        #armR{
            @include transform-origin(top, left);
            -webkit-animation: swing 1s infinite ease-in-out alternate;
        }
    }
}
