@-webkit-keyframes rotate{
	0%   { -webkit-transform: rotateY(0deg); } 
    100% { -webkit-transform: rotateY(360deg); }
}

@-webkit-keyframes moonRotate{
	0%   { -webkit-transform: rotateY(0deg) rotateX(-20deg); } 
    100% { -webkit-transform: rotateY(360deg) rotateX(-20deg); }
}

@-webkit-keyframes swing{
	0%   { -webkit-transform: rotate(0deg); }
	50% { -webkit-transform: rotate(5deg); }
	100% { -webkit-transform: rotate(0deg); }
}

@-webkit-keyframes blink{
	43%   { -webkit-transform: scaleY(1.0); }
	50% { -webkit-transform: scaleY(0.0); }
	57% { -webkit-transform: scaleY(1.0); }
}

@-webkit-keyframes talk{
	0%   { -webkit-transform: scaleY(1.0); }
	50% { -webkit-transform: scaleY(0.3); }
	100% { -webkit-transform: scaleY(1.0); }
}

@-webkit-keyframes cssAnimationA{
    0%   {fill: #E2756D;}
	50% {fill: #a17aa5;}
	100% {fill: #E2756D;}
}

@-webkit-keyframes cssAnimationB{
    0%   {fill: #F4806D;}
	50% {fill: #d985a7;}
	100% {fill: #F4806D;}
}

@-webkit-keyframes moonRotateY{
	0%   { -webkit-transform: rotateY(0deg); } 
    50% { -webkit-transform: rotateY(50deg); }
	0%   { -webkit-transform: rotateY(0deg); } 
}

@-webkit-keyframes bob{
    0%, 100%{
        -webkit-transform:translateY(0px);
    }

    50% {
        -webkit-transform:translateY(-100px);
    }        
}

@-webkit-keyframes jellyFront{
    0%, 100% {            
        -webkit-filter: custom($jelly_v $jelly_f, 50 50 filter-box, transform rotateY(0deg) rotateX(60deg) rotateZ(60deg) scale(0.6), delta 1.0, backface 0.0);
    }        
    
    50% {            
        -webkit-filter: custom($jelly_v $jelly_f, 50 50 filter-box, transform rotateY(0deg) rotateX(60deg) rotateZ(60deg) scale(0.6), delta 10.0, backface 0.0);
    }    
}

@-webkit-keyframes jellyBack{
    0%, 100% {            
        -webkit-filter: custom($jelly_v $jelly_f, 50 50 filter-box, transform rotateY(0deg) rotateX(60deg) rotateZ(60deg) scale(0.6), delta 1.0, backface 1.0);
    }        
    
    50% {            
        -webkit-filter: custom($jelly_v $jelly_f, 50 50 filter-box, transform rotateY(0deg) rotateX(60deg) rotateZ(60deg) scale(0.6), delta 10.0, backface 1.0);
    }    
}

@-webkit-keyframes jellyFace{
    0%, 50%, 100% {            
        @include transform(translate(120px, 70px) rotate(-20deg));
    }

    25%, 75%{
        @include transform(translate(120px, 40px) rotate(-20deg));
    }

    10%, 40%, 60%, 90%{
        @include transform(translate(120px, 100px) rotate(-20deg));
    }
    
}



.character{
    position: absolute;
}

#charDIV{
    top: 500px;
    // width: 80px;
    // height: 80px;
    @include transform-style(preserve-3d);
    @include transform(translateZ(155px));

    &.animating{
        .div-body{
            @include transform-origin(bottom, center);
            -webkit-animation: swing 5s infinite linear;
        }

        .div-antenna{

            &.right{
                @include transform-origin(top, left);
            }

            &.left{
                @include transform-origin(top, right);
            }

            -webkit-animation: swing 5s infinite linear;
        }

        .div-eye{
            @include transform-origin(0px, 170px);
            -webkit-animation: blink 3s infinite ease-in-out;
        }

        &.talking{
            .div-mouth{
                @include transform-origin(0px, center);
                -webkit-animation: talk .7s infinite ease-in-out;
            }
        }
    }
}

#charCSS{
    top: 550px;
    left: 2000px;
    cursor: pointer;
    z-index: 100;
    @include transition(box-shadow .5s linear, border-radius .5s linear);
    @include transform-origin(center, center);

    .dark{
        @include transition(fill 1s linear);
        // -webkit-animation: none;
    }

    .light{
        @include transition(fill 1s linear);
        // -webkit-animation: none;
    }

    &.animating{
        .css-body{
            @include transform-origin(bottom, center);
            -webkit-animation: swing 10s infinite ease-in-out;
        }

        .css-eye{
            @include transform-origin(0px, 80px);
            -webkit-animation: blink 3.2s infinite ease-in-out;
        }

        &.talking{
            .css-mouth{
                @include transform-origin(0px, center);
                -webkit-animation: talk .7s infinite ease-in-out;
            }
        }

        &.auto{
            .dark{
                -webkit-animation: cssAnimationA 3s infinite linear;
            }

            .light{
                -webkit-animation: cssAnimationB 3s infinite linear;
            }
        }
    }

    &:hover{
        .dark{
            fill: #a17aa5;
        }

        .light{
            fill: #d985a7;
        }
    }
}

#charSVG{
    top: 100px;
    left: 2900px;
    z-index: 100;

    &.animating{

        .svg-eye{
            @include transform-origin(0px, 350px);
            -webkit-animation: blink 3.2s infinite ease-in-out;
        }

        .svg-eye-r, .svg-eye-l{
            @include transform(translate(0px, 0px));
            @include transition(transform 1s linear);
        }

        .svg-leg{
            &.svg-leg-one{
                @include transform-origin(bottom, left);
            }

            &.svg-leg-two{
                @include transform-origin(bottom, right);
            }

            &.svg-leg-three{
                @include transform-origin(top, right);
            }

            @include transition(transform 1s linear);
            -webkit-animation: swing 5s infinite linear;
        }

        .svg-body-back, .svg-body-front{
            @include transform-origin(center, center);
            @include transition(transform 1s linear);
            @include transform(scale(1));
        }

        .svg-dots {
            @include transform-origin(center, center);
            @include transition(transform 1s linear);
            @include transform(scale(1));

            path{
                @include transition(transform 1s linear);
            }
        }

        &.scale{
            .svg-eye-r{
                @include transform(translate(-100px, -150px));
            }

            .svg-eye-l{
                @include transform(translate(50px, -150px));
            }

            .svg-body-back{
                @include transform(scale(2));
            }

            .svg-body-front{
                @include transform(scale(2));
            }

            .svg-leg{
                -webkit-animation: none;
            }

            .svg-leg-one{
                @include transform(translate(-100px, 0px));
            }

            .svg-leg-two{
                @include transform(translate(0px, 200px));
            }

            .svg-leg-three{
                @include transform(translate(200px, 100px));
            }

            .svg-dots{
                @include transform(scale(2));
            }
        }

        &.talking{
            // .svg-mouth-one{
            //     @include transform-origin(0px, center);
            //     -webkit-animation: talk .7s infinite ease-in-out;
            // }

            .svg-mouth-two{
                @include transform-origin(0px, center);
                -webkit-animation: talk .7s infinite ease-in-out;
            }
        }

    }
}

$hoop_width: 200px;
$shrink: 0px;

#hoop{
    position: absolute;
    left: 100px;
    top: 150px;
    // width: 10px;
    // height: 100px;
    background: red;
    @include transform-style(preserve-3d);
    @include transform-origin(90px, 0px, -40px);
    -moz-transform-style: preserve-3d;
}

#charTransform{

    position: absolute;
    backface-visibility: visible;
    @include transform(translate3d(4830px, -600px, 4300px) rotateY(50deg));
    @include transform-style(preserve-3d);
    -moz-transform-style: preserve-3d;

    svg{
        @include transform(translate3d(0px, 0px, 20px));
    }

    .transform-dots {
        path{
            @include transition(transform 1s linear);
        }
    }

    .hex{
        position: absolute;
        top: 0px;
        left: 0px;
        width: $hoop_width;
        height: 50px;
        // @include transform-origin($hoop_width / 2, 0px);
        @include transform-style(preserve-3d);
        -moz-transform-style: preserve-3d;

        &.hex-one{
            @include transform(translate3d(0px, 0px, 173px) rotateY(0deg));
            background: #c0e5e7;
        }

        &.hex-two{
            @include transform(translate3d(150px, 0px, 87px) rotateY(-120deg));
            background: #81d0d3;
        }

        &.hex-three{
            @include transform(translate3d(150px, 0px, -87px) rotateY(120deg));
            background: #4ec3c7;
        }

        &.hex-four{
            @include transform(translate3d(0px, 0px, -173px) rotateY(0deg));
            background: #6ac9cd;
        }

        &.hex-five{
            @include transform(translate3d(-150px, 0px, -87px) rotateY(-120deg));
            background: #81d0d3;
        }

        &.hex-six{
            @include transform(translate3d(-150px, 0px, 87px) rotateY(120deg));
            background: #b2d1d1;
        }
    }

    &.animating{
        .transform-eye{
            @include transform-origin(0px, 50px);
            -webkit-animation: blink 3.2s infinite ease-in-out;
        }

        &.talking{
            .transform-mouth{
                @include transform-origin(0px, center);
                -webkit-animation: talk 1s infinite ease-in-out;
            }
        }

    }

}

#charCanvas{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

#charWebgl{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;

    canvas{
        width: 100%;
        height: 100%;
    }
}

#charBlend{
    display: none;
    top: 450px;
    left: 1200px;
    width: 200px;
    height: 200px;
    z-index: 100;
    -webkit-transition: all 2s ease-out;
    -webkit-blend-mode: multiply;

    &.animating{
        
        -webkit-animation: bob ease-in-out 3s infinite;
        
        .blend-eye{
            @include transform-origin(0px, 120px);
            -webkit-animation: blink 3.2s infinite ease-in-out;
        }

        &.talking{
            .blend-mouth{
                @include transform-origin(0px, center);
                -webkit-animation: talk .6s infinite ease-in-out;
            }
        }
    }
}      

#charShader{
    top: 450px;
    left: 1900px;
    width: 700px;
    height: 500px;
    cursor: pointer;
    z-index: 500;

    .shader-face{
        position: absolute;
        left: 0px;
        top: 0px;
        @include transform(translate(170px, 120px));
    }

    .shader-side{
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: 100% 100%;

        &.shader-side-front{
		    background: $shader_front;
            -webkit-filter: custom($jelly_v $jelly_f, 50 50 filter-box, transform rotateY(0deg) rotateX(60deg) rotateZ(60deg) scale(0.6), delta 1.0, backface 0.0);
        }

        &.shader-side-back{
		    background: $shader_back;
            -webkit-filter: custom($jelly_v $jelly_f, 50 50 filter-box, transform rotateY(0deg) rotateX(50deg) rotateZ(60deg) scale(0.6), delta 1.0, backface 1.0);
        }
    }

    &.animating{
        .shader-eye{
            @include transform-origin(0px, 120px);
            -webkit-animation: blink 3.2s infinite ease-in-out;
        }

        &.talking{
            .shader-mouth{
                @include transform-origin(0px, center);
                -webkit-animation: talk .6s infinite ease-in-out;
            }
        }

        .shader-side-front{
            -webkit-animation: jellyFront ease-in-out 6s infinite;
        }
        
        .shader-side-back{
            -webkit-animation: jellyBack ease-in-out 6s infinite;
        }
    }

    &:hover{
        // .shader-side-front, .shader-side-back{
        //     -webkit-animation: none;
        // }
    }
}
