#introView{
    display: none;
    cursor: pointer;
    top: 50%;
    left: 50%;
    width: 0px;
    margin-top: -250px;
    // margin-left: -250px;
    // width: 500px;
    height: 500px;
    font-family: $FredokaOne;

    h1{
        position: absolute;
        width: 700px;
        height: 300px;
        top: 50%;
        left: 50%;
        margin-top: -250px;
        margin-left: -300px;
        color: $gray6;
        font-size: 90px;
        font-style: normal;
        font-weight: normal;
        font-family: $StorefrontPro;
        z-index: 1;
        @include transform(rotate(-20deg));

        small{
            font-size: 35px;
            font-weight: bold;
        }

    }

    p{
        display: none;
        position: absolute;
        margin-left: -60px;
        margin-top: 100px;
        width: 120px;
        top: 50%;
        left: 50%;
        font-weight: bold;
        color: #F2F2F2;
        z-index: 1;
        @include transition($opacity_transition_out);

        &:hover{
            opacity: .5;
        }
    }

    .intro-cloud{
        position: absolute;
    }

    .cloud-1{
        width: 203px;
        height: 81px;
        background-image: $cloud_1;
    }

    .cloud-2{
        width: 150px;
        height: 50px;
        background-image: $cloud_2;
    }

    .tree{
        position: absolute;
        bottom: 100%;
    }

    .bush-1{
        width: 83px;
        height: 30px;
        background-image: $bush_1;
    }

    .tree-1{
        width: 53px;
        height: 81px;
        background-image: $tree_1;
    }

    .tree-2{
        width: 33px;
        height: 51px;
        background-image: $tree_2;
    }

    .tree-3{
        width: 33px;
        height: 41px;
        background-image: $tree_3;
    }


    .tree-4{
        width: 33px;
        height: 51px;
        background-image: $tree_4;
    }

   .tree-5{
        width: 33px;
        height: 51px;
        background-image: $tree_5;
    }

   .tree-6{
        width: 20px;
        height: 30px;
        background-image: $tree_6;
   }

   .tree-7{
        width: 18px;
        height: 22px;
        background-image: $tree_7;
   }
    
   .grass-1{
        width: 95px;
        height: 22px;
        background-image: $grass;
    }


    .ground{
        position: absolute;
        bottom: 0px;
        left: 50%;
        margin-left: -2000px;
        width: 4000px;
    }
}

#introBg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#introGround1{
    height: 180px;
    background-color: #808080;
    // background-image: $shading;
    background-repeat: repeat-x;
}

#introGround1a{
    position: absolute;
    height: 1000px;
    width: 100%;
    background-color: #808080;
    background-image: $shading;
    background-repeat: repeat-x;
}

#introGround2{
    height: 200px;
    background-color: #D0D0D0;
}

#introGround3{
    height: 250px;
    background-color: #C5C5C5;
}

#introGround4{
    height: 300px;
    background-color: #D8D8D8;
}

#introGround5{
    height: 350px;
    background-color: #E9E9E9;
}

