#introView{
    display: none;
    cursor: pointer;
    top: 50%;
    left: 50%;
    width: 0px;
    margin-top: -250px;
    // margin-left: -250px;
    // width: 500px;
    height: 500px;
    font-family: $FredokaOne;

    h1{
        position: absolute;
        width: 700px;
        height: 300px;
        top: 50%;
        left: 50%;
        margin-top: -320px;
        margin-left: -200px;
        color: $gray6;
        font-size: 70px;
        font-style: normal;
        font-weight: normal;
        font-family: $StorefrontPro;
        z-index: 1;
        @include transform(rotate(-20deg));

        small{
            font-size: 35px;
            font-weight: bold;
        }
    }

    p{
        display: none;
        position: absolute;
        margin-left: -60px;
        margin-top: 150px;
        width: 120px;
        top: 50%;
        left: 50%;
        font-weight: bold;
        color: #F2F2F2;
        z-index: 1;
        @include transition($opacity_transition_out);

        &:hover{
            opacity: .5;
        }
    }

    .tree{
        position: absolute;
        bottom: 100%;
        background-repeat: no-repeat;
    }

    .tree-1{
        width: 100px;
        height: 180px;
        background-image: $tree_1;
    }

    .tree-1b{
        width: 100px;
        height: 180px;
        background-image: $tree_1;
    }

    .tree-2{
        width: 80px;
        height: 90px;
        background-image: $tree_2;
    }

    .tree-3{
        width: 33px;
        height: 41px;
        background-image: $tree_3;
    }


    .tree-4{
        width: 33px;
        height: 51px;
        background-image: $tree_4;
    }

   .tree-5{
        width: 43px;
        height: 80px;
        background-image: $tree_5;
    }

   .tree-6{
        width: 30px;
        height: 50px;
        background-image: $tree_6;
   }

   .tree-7{
        width: 18px;
        height: 22px;
        background-image: $tree_7;
   }
    
    .ground{
        position: absolute;
        bottom: 0px;
        left: 50%;
        margin-left: -2000px;
        width: 4000px;
    }
}

#introCloudHolder{
    position: absolute;
    top: -150px;
    left: -1000px;
    width: 2000px;
    height: 800px;
    background: $clouds;
    opacity: .5;
}

#introBg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#introGround1{
    height: 160px;
    background-repeat: repeat-x;
}

#introGround1a{
    position: absolute;
    height: 1000px;
    width: 100%;
    background-color: #bbbcb9;
    // background-image: $shading;
    background-repeat: repeat-x;
}

#introGround2{
    height: 190px;
    background-color: #7c7c7c;
    opacity: .8;
}

#introGround3{
    height: 210px;
    background-color: #919191;
}

#introGround4{
    height: 320px;
    background-color: #a5a5a5;
}


