body{
	margin: 0px;
    background-color: $gray0;
    font-family: $FredokaOne;
    color: $gray6;
    @include transition(background 1s linear);
}

header{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 200;
}

#logoHolder{
    position: relative;
    margin: 30px;
    z-index: 100;
    pointer-events: none;

    h2{
        padding: 0 0 0 50px;
        height: 50px;
        color: $gray3;
        line-height: 12px;
        font-size: 24px;
        font-family: $Righteous;
        @include transition(color 1s linear);
        
        small{
            font-size: 12px;
        }
    }

    svg{
        position: absolute;
    }
}

nav{
    display: none;
    position: fixed;
    bottom: 10px;
    left: 15px;
    z-index: 100;

    canvas{
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
}

blockquote{
    display: none;
    position: absolute;
    min-width: 200px;
    padding: 10px 15px;
    background: white;
    border-radius: 10px;
}

.spinner{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -50px;
    width: 100px;
    height: 100px;
    z-index: 100;
    background: url(../img/spinner.gif) no-repeat center center;
    @include appearance(none);
}

#cover{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: $gray6;
    z-index: 1000;
}

#preloader{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: $gray0;
}

#main{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#key-inst{
    position: absolute;
    right: 150px;
    bottom: 80px;
    z-index: 100;
}

.key{
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    margin-top: -25px;
    opacity: .5;
    z-index: 100;
    background-repeat: no-repeat;
    @include transition(opacity .2s linear);

    &.disabled{
        opacity: .25;
    }

    &.enabled{
        cursor: pointer;
        
        &:hover{
            opacity: .75;
        }
    }
}

#key-up{
    bottom: 10px;
    background-image: $key_up;
}

#key-down{
    background-image: $key_down;
}

#key-right{
    right: 30px;
    background-image: $key_right;
    
}

#key-left{
    left: 30px;
    background-image: $key_left;
}

.circle-btn{
    display: none;
    position: absolute;
    width: 60px;
    height: 65px;
    cursor: pointer;

    &:hover{
        .circle{
            @include transform(scale(1));
        }
    }
}

.circle{
    position: absolute;
    width: 60px;
    height: 65px;
    background-image: $circle;
    background-repeat: no-repeat;
    @include transform(scale(.9));
    @include transition(all .3s ease-in);
}

.icon{
    position: absolute;
    width: 60px;
    height: 65px;
    background-repeat: no-repeat;
    @include transform(scale(.9));
}

.info-btn{
    top: 0px;
    right: 0px;
    margin: 30px;

    .icon{
        background-image: $info_icon;
    }
}

#warning{
   display: none;
   position: absolute;
   top: 20px;
   left: 300px;
   min-width: 300px;
   padding: 20px;
   color: white;
   font-size: 24px;
   border-radius: 20px;
   background: #FF3612;
}

#vignette{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .5;
    z-index: 200;
}

#popupHolder{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    
    .popup{
        display: none;
        position: relative;
        width: 400px;
        height: 300px;
        margin: 50px auto;
        padding: 30px;
        background: white;
        border-radius: 20px;
        color: $gray7;
        font-size: 24px;
        z-index: 202;

        p{
            padding-top: 10px;
            padding-bottom: 50px;
            line-height: 30px;
        }

        h3{
            margin: none;
            color: $red;
            font-size: 48px;
        }

        a{
            color: $red;
            text-decoration: none;
        }

        .dl-btn{
            padding: 10px;
            color: white;
            background: $red;
            border-radius: 10px;
            @include transition(background .2s linear);

            &:hover{
                background: $red2;
            }
        }
    }
}
