body{
	margin: 0px;
    background-color: $gray0;
    font-family: $SourceSans;
    color: $gray6;
    width: 100%;
    height: 100%;
    overflow: none;
    -webkit-text-size-adjust: none;
    // @include transition(background 1s linear);
}

header{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 200;
}

canvas{
    outline: none;
    -webkit-appearance: none;
}

small{
    font-size: 10px;
}

#portraitCover{
    display: none;
}

#adobeLogoHolder{
    // display: none;
    position: absolute;
    z-index: 200;
    // pointer-events: none;
}

#globalAdobeLogo{
    position: absolute;
    left: 50px;
    // box-shadow: 0 2px 2px rgba(0, 0, 0, .35);
}

#htmlLink{
    position: absolute;
    top: 25px;
    left: 110px;
    width: 200px;
    text-decoration: none;
    font-size: 24px;
    color: black;
    font-family: $AdobeClean;
}

#logoHolder{
    display: none;
    position: relative;
    margin: 30px;
    width: 250px;
    z-index: 200;
    pointer-events: none;

    h2{
        padding: 0 0 0 50px;
        height: 50px;
        color: $gray3;
        line-height: 12px;
        font-size: 24px;
        font-family: $Righteous;
        @include transition(color 1s linear);
        
        small{
            font-size: 12px;
        }
    }

    svg{
        position: absolute;
    }
}

nav{
    display: none;
    position: absolute;
    bottom: 0px;
    left: 15px;
    z-index: 100;

    canvas{
        width: 70px;
        height: 70px;
        cursor: pointer;
        @include user-select(none);
    }
}

#disabledCallout{
    display: none;
    position: absolute;
    width: 100px;
    padding: 5px;
    color: white;
    text-align: center;
    border: 2px solid #ff6a00;
    border-radius: 2px;
    background: #f07a26;
    opacity: 0;
    pointer-events: none;
}

#disabledArrow{
    position: absolute;
    left: 50%;
    margin-left: -10px;
    bottom: -10px;
    height: 10px;
    width: 10px;

    svg{
        position: absolute;
    }
}

#percentCallout{
    display: inline-block;
    display: none;
    position: relative;
    top: -20px;
    margin-left: 10px;
    color: white;
    opacity: 0.5;
    cursor: pointer;

    div{
        display: inline-block;
    }
}

#percentDigits{
    font-style: italic;
    font-size: 40px;
}

#percentDescription{
    margin-left: 10px;
}

blockquote{
    display: none;
    position: absolute;
    min-width: 200px;
    padding: 10px 15px;
    background: white;
    border-radius: 10px;
}

.spinner{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -50px;
    padding: 40px 30px;
    width: 40px;
    height: 20px;
    font-family: $FredokaOne;
    text-align: center;
    color: white;
    z-index: 100;
    background-image: $spinner;
    background-repeat: no-repeat;
    background-position: center center;
    @include appearance(none);
}

#cover{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: $gray6;
    z-index: 1000;
}

#preloader{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: $gray0;
    z-index: 1001;
}

#main{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.key-btn{
    display: none;
    position: absolute;
    bottom: 150px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    z-index: 100;

    * {
        pointer-events: none;
    }

    .circle{
        position: absolute;
        left: 10px;
        top: 10px;
        width: 80px;
        height: 80px;
        background-image: $circle1;
        background-repeat: no-repeat;
        @include transition(transform .2s ease-in);
    }

    .circle2{
        position: absolute;
        left: 5px;
        top: 5px;
        width: 80px;
        height: 80px;
        background-image: $circle2;
        background-repeat: no-repeat;
        @include transition(transform .3s ease-in);
    }

    .circle3{
        position: absolute;
        left: 3px;
        top: 3px;
        width: 80px;
        height: 80px;
        background-image: $circle3;
        background-repeat: no-repeat;
        @include transition(transform .4s ease-in);
    }

    .icon{
        position: absolute;
        left: 5px;
        top: 5px;
        width: 50px;
        height: 50px;
    }

    &:hover{
        .circle{
            @include transform(scale(1.1));
        }

        .circle2{
            @include transform(scale(1.2));
        }

        .circle3{
            @include transform(scale(1.2));
        }
    }
}

#key-right{
    right: 50px;

    .icon{
        background-image: $icon_right;
    }
}

#key-left{
    left: 50px;

    .icon{
        background-image: $icon_left;
    }
}

#info-btn{
    display: none;
    position: absolute; 
    top: 0px;
    right: 0px;
    margin: 30px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 100;

    * {
        pointer-events: none;
    }

    .icon{
        position: absolute;
        top: 13px;
        left: 20px;
        width: 23px;
        height: 36px;
        background-image: $info_icon;
        background-repeat: no-repeat;
    }

    .circle{
        position: absolute;
        top: 5px;
        left: 5px;
        width: 55px;
        height: 55px;
        background-image: $info_btn;
        background-repeat: no-repeat;
        @include transition(transform .2s ease-in);
    }

    .circle2{
        position: absolute;
        width: 60px;
        height: 60px;
        background-image: $info_shadow;
        background-repeat: no-repeat;
        @include transition(transform .3s ease-in);
    }

    &:hover{
        .circle{
            @include transform(scale(1.1));
        }

        .circle2{
            @include transform(scale(1.2));
        }
    }
}

#utils{
    display: none;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 260px;
    height: 50px;
    padding: 35px 5px 5px 60px;
    z-index: 100;

    svg{
        position: absolute;
        left: 0px;
        top: 0px;
    }
}

#share-btns{
    display: inline-block;
    position: relative;
    top: -5px;
}

.fb-like{
    position: relative;
    top: -5px;
}

#sound-btn{
    display: inline-block;
    position: relative;
    width: 26px;
    height: 26px;
    margin: 3px;
    margin-top: 12px;
    margin-right: 10px;
    background-image: $sound_btn;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 10;

    &.off{
        background-position: -29px 0px;
    }
}

#warning{
   display: none;
   position: absolute;
   top: 20px;
   left: 50%;
   margin-left: -225px;
   width: 450px;
   cursor: pointer;
   z-index: 200;
}
