$popup-height: 300px;

#vignette{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .5;
    cursor: pointer;
    z-index: 200;
}

#popupHolder{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.popup{
    display: none;
    position: relative;
    width: 500px;
    height: 300px;
    margin: 100px auto;
    padding: 30px;
    color: $gray7;
    font-size: 18px;
    border: 2px solid white;
    // border-radius: 5px;
    z-index: 202;
    background: #fff;
    @include background(linear-gradient(bottom, #f2f2f2, #fff));
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.4);
    -webkit-transition: all .4s ease-out;
    // -webkit-filter: custom($bulb_v $bulb_f, 50 50 filter-box, transform rotateY(0deg) rotateX(0deg) rotateZ(0deg) scale(0.0), delta 1.0, backface 0.0);

    &.in{
        // -webkit-filter: custom($bulb_v $bulb_f, 50 50 filter-box, transform rotateY(0deg) rotateX(0deg) rotateZ(0deg) scale(1.0), delta 0.0, backface 0.0);
    }

    h3{
        font-size: 32px;
        margin-bottom: 20px;
    }

    ul{
        margin-top: 20px;
        padding-left: 10px;
        list-style-type: disc;
        
        li{
            margin: 10px;
        }
    }

    a{
        color: #00afdf;
        text-decoration: none;

        &:hover{
            opacity: 0.5;
        }
    }
}

#popup-support{
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    width: 500px;
    height: $popup-height;
    padding: 10px;
    margin-left: -250px;
    margin-top: -150px;
    color: white;
    font-size: 18px;
    line-height: 28px;
    background: #263f51;
    border-radius: 0px;
    border: none;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.4);
    
    img{
        position: absolute;
        top: -50px;
        left: -50px;
    }

    a{
        color: #49799b;
        font-weight: bold;
        text-decoration: none;

        &:hover{
            opacity: 1;
            text-decoration: underline;
        }
    }

    .dotted{
        padding: 20px;
        padding-top: 40px;
        height: $popup-height - 65;
        border: 3px dashed #49799b;
    }

    .support-btn{
        display: inline-block;
        margin-top: 20px;
        margin-right: 10px;
        padding: 15px 25px;
        font-weight: bold;
        text-align: center;
        border-radius: 4px;
    }

    .try-btn{
        min-width: 120px;
        color: #a0d3be;
        border-top: 2px solid #a0d3be;
        background: #214747;
        @include background(linear-gradient(bottom, #214747, #2f6361));

        &:hover{
            opacity: 1.0;
            color: #fff;
            border-top: 2px solid #fff;
        }
    }

    .dl-btn{
        min-width: 150px;
        color: #e5bf23;
        border-top: 2px solid #e5bf23;
        background: #802d0a;
        @include background(linear-gradient(bottom, #802d0a, #d14913));

        &:hover{
            opacity: 1.0;
            color: #fff;
            border-top: 2px solid #fff;
        }
    }
}
