// $earth_width: 500px;
// $earth_height: 500px;
// $earth_depth: 300px;
// $earth_depth: 4435px;
$earth_depth: 2000px;
$earth_width: 4435px;
$earth_height: 1200px;

@-webkit-keyframes flagRipple{
    0%, 100% {            
        -webkit-filter: custom($flag_v $flag_f, 50 50 filter-box, transform rotateY(0deg) rotateX(0deg) rotateZ(0deg) scale(0.8), delta 1.0, backface 1.0);
    }        
    
    50% {            
        -webkit-filter: custom($flag_v $flag_f, 50 50 filter-box, transform rotateY(40deg) rotateX(0deg) rotateZ(0deg) scale(0.8), delta 100.0, backface 1.0);
    }    
}

#camera{
    display: none;
    position: absolute;
    // height: 100%;
    // width: 100%;

    //horizontal center
    left: 50%;
    top: 50%;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;

    @include perspective(500px);
    -moz-transform-style: preserve-3d;
    @include transform-style(preserve-3d);
}

#scene{
    position: absolute;
    bottom: 0px;
    -moz-transform-style: preserve-3d;
    @include transform-style(preserve-3d);
}

#planet1{
    position: absolute;
    left: 0px;
    top: 0px;
    width: $earth_width;
    height: $earth_height;
    -moz-transform-style: preserve-3d;
    @include transform(translateZ(-$earth_depth / 2));
    @include transform-style(preserve-3d);
    // @include transition(all 1s linear);
}


#cube1{
    
    position: absolute;
    top: -50px;
    width: $earth_width;
    height: $earth_height;
    -moz-transform-style: preserve-3d;
    @include transform-style(preserve-3d);
    // @include transition(all .2s linear);

    .plane{
        position: absolute;
        // opacity: .2;
        background-repeat: repeat-x;
        background-position: left bottom;
        -webkit-backface-visibility: hidden; //prevents flicker
    }

    .front{
        width: $earth_width;
        height: $earth_height;
        @include transform(rotateY(0deg) translateZ($earth_depth / 2));
        // background: red;
    }

    .front2{
        display: none;
        width: $earth_width;
        height: $earth_height;
        @include transform(rotateY(0deg) translateZ($earth_depth / 2));
        background-image: $terrain;
        background-repeat: no-repeat;
    }

    .right{
        display: none;
        width: $earth_depth;
        height: $earth_height;
        @include transform(rotateY(90deg) translateZ($earth_width - $earth_depth / 2));
        background-image: $terrain;
        background-repeat: no-repeat;
    }

    .left{
        display: none;
        width: $earth_depth;
        height: $earth_height;
        @include transform(rotateY(90deg) translateZ(-1000px));
        background-image: $terrain;
        background-repeat: no-repeat;
    }

    .back{
        display: none;
        width: $earth_width;
        height: $earth_height;
        // @include transform(rotateY(-180deg) translateZ($earth_depth / 2));
        @include transform(rotateY(0deg) translateZ($earth_depth / 2));
    }

    .back2{
        display: none;
        width: $earth_width;
        height: $earth_height;
        @include transform(rotateY(0deg) translateZ(-$earth_depth / 2));
        background-image: $terrain;
        background-repeat: no-repeat;
    }

    .bottom{
        width: $earth_width;
        height: $earth_depth;
        // @include transform(rotateX(-90deg) translateZ($earth_height / 2));
        @include transform(rotateX(-90deg) translateZ($earth_height - $earth_depth / 2));
        background: green;
    }
}

#parallaxA, #parallaxB{
    position: absolute;
    overflow: hidden;
    width: $earth_width;
    height: 2000px;
    z-index: 1;

    .scene-svg{
        position: absolute;
        z-index: 1;
    }
}

#parallaxB > svg{
    // @include transform(translateZ(0px)); //fix safari redraw issue
}

#cloudsA, #cloudsB{
    position: absolute;
    // top: 100px;
    left: 0px;
    width: $earth_width;
    height: $earth_height;
    background-repeat: repeat-x;
    background-image: $clouds;
    z-index: 0;
    opacity: .5;
}

#logoHolder, #ground{
    *{
        @include transition(fill 1s linear);
    }
}

.sky{
    position: fixed;
    width: 100%;
    // height: 100%;
    top: 0px;
    left: 0px;

    path{
        width: 100%;
        @include transform-origin(center, center);
        @include transform(scale(1.5, 1));
    }
}

.hills0, .hills1, .hills2, .hills3, .hills4, .hills5, .trees1, .trees2, .trees3, .trees4, .trees5, .bush5, .sky path, .util-bg{
    @include transition(fill 1s linear);
}

//CSS
.css{
    background-color: $blue0;

    #logoHolder{
        svg *{
            fill: white;
        }

        h2{
            color: white;
        }
    }

    .sky path{
        fill: $blue1;
    }

    // .hills0, .trees0{
    //     fill: #81E1EA;
    // }

    .hills1, .trees1{
        fill: #7fa4a5;
    }

    .hills2, .trees2{
        fill: #82a53c;
        // opacity: .73;
    }

    .hills3, .trees3{
        fill: #557c3e;
        // opacity: .6;
    }

    .hills4{
        fill: #9fbc2e;
    }

    .hills5{
        fill: #7d9126;
    }

    .trees5{
        fill: #557c3e;
    }

    .bush5{
        fill: #00B342;
    }

    .util-bg{
        fill: #7E9E00;
    }
}

.night{
    background-color: $blue2;

    #logoHolder{
        -webkit-blend-mode: overlay;

        svg *{
            fill: white;
        }

        h2{
            color: white;
        }
    }

    .sky path{
        fill: #003C4D;
    }

    .hills0, .trees0{
        fill: #528E94;
    }

    .hills1, .trees1{
        fill: #338183;
    }

    .hills2, .trees2{
        fill: #006570;
    }

    .hills3, .trees3{
        fill: #557c3e;
    }

    .hills4{
        fill: #3F6070;
    }

    .hills5{
        fill: #293E49;
    }

    .trees5{
        fill: #002029;
    }

    .bush5{
        fill: #00B342;
    }

    .util-bg{
        fill: #293E49;
    }

    .scene-svg{
        background: rgba(0, 62, 79, 0.1);  //hack for blending with background
    }
}

.dusk{
    background-color: #dfdaef;

    #logoHolder{
        -webkit-filter: custom($flag_v $flag_f, 50 50 filter-box, transform rotateY(0deg) rotateX(0deg) rotateZ(0deg) scale(0.8), delta 1.0, backface 1.0);
        -webkit-animation: flagRipple 100s infinite linear;

        svg *{
            fill: white;
        }

        h2{
            color: white;
        }
    }

    .sky path{
        fill: #eae4f7;
    }

    .hills1, .trees1{
        fill: #857fa5;
    }

    .hills2, .trees2{
        fill: #3ca57c;
    }

    .hills3, .trees3{
        fill: #3e7c7a;
    }

    .hills4{
        fill: #2ebc6e;
    }

    .hills5{
        fill: #269154;
    }

    .trees5{
        fill: #3e7c7a;
    }

    .bush5{
        fill: #00B342;
    }

    .util-bg{
        fill: #269154;
    }

    .scene-svg{
        background: rgba(223, 218, 239, 0.1); //hack for blending with background
    }
}


.space{
    background-color: #001A21;

    .sky path{
        fill: #00181F;
    }

    .util-bg{
        fill: #00181F;
    }
}

