// $earth_width: 500px;
// $earth_height: 500px;
// $earth_depth: 300px;
// $earth_depth: 4435px;
$earth_depth: 2000px;
$earth_width: 4435px;
$earth_height: 1200px;

#camera{
    display: none;
    position: absolute;
    // height: 100%;
    // width: 100%;

    //horizontal center
    left: 50%;
    top: 50%;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;

    @include perspective(500px);
    -moz-transform-style: preserve-3d;
    @include transform-style(preserve-3d);
}

#scene{
    position: absolute;
    bottom: 0px;
    -moz-transform-style: preserve-3d;
    @include transform-style(preserve-3d);
}

#planet1{
    position: absolute;
    left: 0px;
    top: 0px;
    width: $earth_width;
    height: $earth_height;
    -moz-transform-style: preserve-3d;
    @include transform(translateZ(-$earth_depth / 2));
    @include transform-style(preserve-3d);
    @include transition(all 1s linear);
}


#cube1{
    
    position: absolute;
    top: -50px;
    width: $earth_width;
    height: $earth_height;
    -moz-transform-style: preserve-3d;
    @include transform-style(preserve-3d);
    @include transition(all 1s linear);

    .plane{
        position: absolute;
        // opacity: .2;
        background-repeat: repeat-x;
        background-position: left bottom;
        -webkit-backface-visibility: hidden; //prevents flicker
    }

    .front{
        width: $earth_width;
        height: $earth_height;
        @include transform(rotateY(0deg) translateZ($earth_depth / 2));
        // background: red;
    }

    .right{
        display: none;
        width: $earth_depth;
        height: $earth_height;
        @include transform(rotateY(90deg) translateZ($earth_width - $earth_depth / 2));
        background-image: url(../js/graphicalweb/views/svg/terrain.svg);
        background-repeat: no-repeat;
    }

    .left{
        display: none;
        width: $earth_depth;
        height: $earth_height;
        @include transform(rotateY(90deg) translateZ(-1000px));
        background-image: url(../js/graphicalweb/views/svg/terrain.svg);
        background-repeat: no-repeat;
    }

    .back{
        width: $earth_width;
        height: $earth_height;
        @include transform(rotateY(-180deg) translateZ($earth_depth / 2));
    }

    .bottom{
        width: $earth_width;
        height: $earth_depth;
        // @include transform(rotateX(-90deg) translateZ($earth_height / 2));
        @include transform(rotateX(-90deg) translateZ($earth_height - $earth_depth / 2));
        background: green;
    }
}

#parallaxA{
    position: absolute;
    overflow: hidden;
    width: $earth_width;
    height: 2000px;
    z-index: 1;

    canvas{
        position: absolute;
        // width: 5000px;
        // height: 2000px;
    }
}

#cloudsA{
    position: absolute;
    top: -50px;
    left: 0px;
    width: $earth_width;
    height: $earth_height;
    background-repeat: repeat-x;
    background-image: $clouds;
    z-index: 0;
    // opacity: .5;
}

#logoHolder, #ground{
    *{
        @include transition(fill 1s linear);
    }
}

// .scene-svg{
//     position: absolute;
//     // top: -50px;
//     z-index: 0;
// }

.hills0, .hills1, .hills2, .hills3, .hills4, .hills5, .trees1, .trees2, .trees3, .trees4, .trees5, .bush5{
    @include transition(fill 1s linear);
}

//CSS
.css{
    background-color: $blue0;

    #logoHolder{
        svg *{
            fill: white;
        }

        h2{
            color: white;
        }
    }

    .hills0, .trees0{
        fill: #81E1EA;
    }

    .hills1, .trees1{
        fill: #54D6D9;
    }

    .hills2, .trees2{
        fill: #00B4C6;
    }

    .hills3, .trees3{
        fill: #35C7D1;
    }

    .hills4{
        fill: #008137;
    }

    .hills5{
        fill: #005928;
    }

    .trees5{
        fill: #007728;
    }

    .bush5{
        fill: #00B342;
    }
}

.night{
    background-color: $blue2;

    #logoHolder{
        svg *{
            fill: white;
        }

        h2{
            color: white;
        }
    }

    .hills0, .trees0{
        fill: #528E94;
    }

    .hills1, .trees1{
        fill: #338183;
    }

    .hills2, .trees2{
        fill: #006570;
    }

    .hills3, .trees3{
        fill: #20757B;
    }

    .hills4{
        fill: #3F6070;
    }

    .hills5{
        fill: #293E49;
    }

    .trees5{
        fill: #002029;
    }

    .bush5{
        fill: #00B342;
    }
}


.space{
    background-color: #001A21;
}

