$earth_width: 500px;
$earth_height: 500px;
// $earth_width: 4400px;
// $earth_height: 1000px;

#scene{
    position: absolute;
    @include transform-style(preserve-3d);
    // @include transform-origin(0% 0%);
}

#camera{
    display: none;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 1000px;
    height: 1000px;
    @include perspective(500px);
    @include transform-style(preserve-3d);

    .planet{
        position: absolute;
        
        left: 50%;
        top: 0px;
        margin-left: - $earth_width / 2;
        width: $earth_width;
        height: $earth_height;
        @include transform-style(preserve-3d);
        @include transition(all 1s linear);
    }

    .cube-layer{
        position: absolute;
        width: $earth_width;
        height: $earth_height;
        @include transform-style(preserve-3d);
        @include transition(all 1s linear);
    }

    .plane{
        position: absolute;
        width: $earth_width;
        height: $earth_height;
        opacity: .1;
        background-repeat: repeat-x;
        background-position: left bottom;
    }

    .front{
        @include transform(rotateY(0deg) translateZ($earth_width / 2));
        background: red;
    }

    .right{
        @include transform(rotateY(90deg) translateZ($earth_width / 2));
        background: yellow;
    }

    .left{
        @include transform(rotateY(-90deg) translateZ($earth_width / 2));
        background: orange;
    }

    .back{
        @include transform(rotateY(180deg) translateZ($earth_width / 2));
        background: green;
    }

    .bottom{
        @include transform(rotateX(-90deg) translateZ($earth_height / 2));
        background: blue;
    }
}

#cube2{
    @include transform(scale3d(.95, .95, .95));
}

#cube3{
    @include transform(scale3d(.80, .80, .80));
}

#cube4{
    @include transform(scale3d(.65, .65, .65));
}

#cube5{
    @include transform(scale3d(.80, .80, .80));
}

#cube1 > .front{
    // background-image: url(../img/temp/ground1.png);
}

#cube2 > .plane{
    // background-image: url(img/layer-2.svg);
}

#cube3 > .plane{
    // background-image: url(img/layer-3.svg);
}

#cube1 > .bottom, #cube2 > .bottom, #cube3 > .bottom {
    background-image: none !important;
}

