
section{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 110;
    // @include transform(translateZ(155px));
}

.section1, .section2, .section3, .section4, .section5{
    display: none;
}

.god-bubble{
    color: white;
    background: #595959;
}

.css-bubble{
    background: #FFE6E8;
}

#first-bubble{
    left: 0px;
    top: 0px;
    height: 200px;
    width: 100%;
    max-width: 100%;
    padding: 150px 20px 10px;
    font-family: $PressStart;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: green;
    border-radius: 0px;
    background: rgba(0, 0, 0, .9);
    z-index: 201;
}

blockquote{
    line-height: 24px;
    max-width: 300px;
}

blockquote.section1{
    &.div-bubble{
        left: 50%;
        bottom: 50%;
    }

    &.god-bubble{
        left: 50%;
        top: 100px;
    }
}

blockquote.section2{
    &.div-bubble{
        left: 30%;
        bottom: 60%;
    }

    &.css-bubble{
        left: 60%;
        bottom: 60%;
    }
}

blockquote.section3{
    &.div-bubble{
        left: 20%;
        bottom: 60%;
    }

    &.svg-bubble{
        left: 30%;
        bottom: 70%;
    }
}

blockquote.section4{
    &.div-bubble{
        left: 20%;
        bottom: 65%;
    }

    &.moon-bubble{
        left: 55%;
        bottom: 50%;
    }
}

blockquote.section5{
    &.div-bubble{
        left: 20%;
        bottom: 40%;
    }

    &.stars-bubble{
        left: 55%;
        bottom: 60%;
    }
}

blockquote.section6{
    &.div-bubble{
        left: 20%;
        bottom: 40%;
    }

    &.webgl-bubble{
        left: 55%;
        bottom: 60%;
    }
}


@-webkit-keyframes blink{
    from { 
        opacity: 1;
    }
	to { 
        opacity: 0;
    }
}

.blink{
    -webkit-animation: blink .5s infinite none;
}
