section{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 110;
    // @include transform(translateZ(155px));
}


article{
    display: none;
    position: absolute;
    top: 150px;
    left: 150px;
    max-width: 450px;
    padding: 20px;
    font-size: 100%;
    line-height: 24px;
    color: #333;
    z-index: 150;
    
    h3{
        color: #999;
        line-height: 32px;
        font-size: 32px;
        font-weight: normal;
        margin-bottom: 10px;
    }

    &.section1{
        background: $gray0;
    }

    &.section2{
        top: 100px;
        left: 50%;
        margin-left: -200px;
        background: $blue0;
        h3{
            color: #0D85BD;
        }
    }

    &.section3{
        top: 200px;
        left: 100px;
        // left: auto;
        background: $blue0;
        h3{
            color: #70BD0D;
        }
    }

    &.section4{
        right: 200px;
        left: auto;
        color: white;
        background: rgba(0, 0, 0, 0.5);
    }

    &.section5{
        top: 250px;
        right: 200px;
        left: auto;
        color: white;
        background: rgba(0, 0, 0, 0.5);
    }

    &.section6{
        color: white;
        background: rgba(0, 0, 0, 0.5);
    }

    &.section7{
        color: white;
        background: #003E4F;
    }

    &.section8{
        top: 120px;
        background: #DFDAEF;
    }

    // &.section4, &.section5, &.section6, &.section7{
    //     color: #ccc;
    // }
}

.section1, .section2, .section3, .section4, .section5, .section6, .section7, .section8{
    display: none;
}

.god-bubble{
    color: white;
    background: #595959;
}

.css-bubble{
    background: #FFE6E8;
}

#first-bubble{
    top: 20%;
    left: 50%;
    margin-left: -450px;
    height: 90px;
    width: 900px;
    max-width: 100%;
    padding: 50px 20px 0px;
    font-family: $PressStart;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: green;
    border-radius: 0px;
    background: rgba(0, 0, 0, .9);
    z-index: 201;
}

#heartHolder{
    position: absolute;
    left: 1800px;
    top: 200px;
    z-index: 102;
    overflow: visible;

    path{
        &:hover{
            opacity: .5;
        }
    }
}

#mistHolder{
    display: none;
    position: absolute;
    left: 0px;
    top: 450px;
    width: 100%;
    height: 400px;
    background-image: $mist;
    background-repeat: repeat-x;
    -webkit-blend-mode: soft-light;
}

#lightning{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 0;
}
