
article{
    display: none;
    position: absolute;
    bottom: 150px;
    right: 300px;
    max-width: 500px;
    padding: 20px;
    font-size: 100%;
    line-height: 24px;
    color: black;
    z-index: 150;
    
    h3{
        color: white;
        line-height: 32px;
        font-size: 32px;
        font-weight: normal;
        margin-bottom: 10px;
    }

    &.section4{
        top: 100px;
        bottom: auto;
    }
}

.sky{
    width: 100%;
}

.section1, .section2, .section3, .section4, .section5, .section6, .section7, .section8{
    display: none;
}

.god-bubble{
    color: white;
    background: #595959;
}

.css-bubble{
    background: #FFE6E8;
}

blockquote{
    line-height: 24px;
    max-width: 300px;
}

blockquote.section1{
    &.div-bubble{
        left: 50%;
        bottom: 50%;
    }

    &.god-bubble{
        left: 50%;
        top: 100px;
    }
}

blockquote.section2{
    &.div-bubble{
        left: 30%;
        bottom: 60%;
    }

    &.css-bubble{
        left: 60%;
        bottom: 60%;
    }
}

blockquote.section3{
    &.div-bubble{
        left: 20%;
        bottom: 60%;
    }

    &.svg-bubble{
        left: 30%;
        bottom: 70%;
    }
}

blockquote.section4{
    &.div-bubble{
        left: 20%;
        bottom: 65%;
    }

    &.moon-bubble{
        left: 55%;
        bottom: 50%;
    }
}

blockquote.section5{
    &.div-bubble{
        left: 20%;
        bottom: 40%;
    }

    &.stars-bubble{
        left: 55%;
        bottom: 60%;
    }
}

blockquote.section6{
    &.div-bubble{
        left: 20%;
        bottom: 40%;
    }

    &.webgl-bubble{
        left: 55%;
        bottom: 60%;
    }
}


@-webkit-keyframes blink{
    from { 
        opacity: 1;
    }
	to { 
        opacity: 0;
    }
}

.blink{
    -webkit-animation: blink .5s infinite none;
}

#first-bubble{
    top: 20%;
    margin-left: -450px;
    height: 90px;
    width: 900px;
    max-width: 100%;
    padding: 50px 20px 0px;
    font-family: $PressStart;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: green;
    border-radius: 0px;
    background: rgba(0, 0, 0, .9);
    z-index: 201;
}

#heartHolder{
    position: absolute;
    left: 1800px;
    top: 200px;
    z-index: 102;
    overflow: visible;

    path{
        &:hover{
            opacity: .5;
        }
    }
}

#mistHolder{
    display: none;
    position: absolute;
    left: 0px;
    top: 450px;
    width: 100%;
    height: 400px;
    background-image: $mist;
    background-repeat: repeat-x;
    -webkit-blend-mode: soft-light;
}

#lightning{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 0;
}


