//fade in
@-webkit-keyframes talkingPointAnimIn1{
    0%{ 
        opacity: 0;
        left: 50%;
    }    
    100%{
        opacity: 1;
        left: 50%;
    }
}

@-webkit-keyframes talkingPointAnimOut1{
    0%{ 
        opacity: 1;
        left: 50%;
    }    
    100%{
        opacity: 0;
        left: 50%;
    }
}

//left to right
@-webkit-keyframes talkingPointAnimIn{
    0%{ 
        opacity: 0;
        left: 0%;
    }    
    100%{
        opacity: 1;
        left: 50%;
    }
}

@-webkit-keyframes talkingPointAnimOut{
    0%{ 
        opacity: 1;
        left: 50%;
    }    
    100%{
        opacity: 0;
        left: 100%;
    }
}

//top to bottom
@-webkit-keyframes talkingPointAnimIn2{
    0%{ 
        opacity: 0;
        left: 50%;
        top: 100%;
        -webkit-transform: scale(0.5);
    }    
    100%{
        opacity: 1;
        left: 50%;
        top: 30%;
        -webkit-transform: scale(1.0);
    }
}

@-webkit-keyframes talkingPointAnimOut2{
    0%{ 
        opacity: 1;
        left: 50%;
        top: 30%;
        -webkit-transform: scale(1.0);
    }    
    100%{
        opacity: 0;
        left: 50%;
        top: 0%;
        -webkit-transform: scale(0.5);
    }
}

//3
@-webkit-keyframes talkingPointAnimIn3{
    0%{ 
        opacity: 0;
        top: 100%;
        left: 0%;
        -webkit-transform: rotate(-360deg);
    }    
    100%{
        opacity: 1;
        top: 30%;
        left: 50%;
        -webkit-transform: rotate(0deg);
    }
}

@-webkit-keyframes talkingPointAnimOut3{
    0%{ 
        opacity: 1;
        top: 30%;
        left: 50%;
        -webkit-transform: rotate(0deg);
    }    
    100%{
        opacity: 0;
        top: 0%;
        left: 100%;
        -webkit-transform: rotate(360deg);
    }
}

//4
@-webkit-keyframes talkingPointAnimIn4{
    0%{ 
        opacity: 0;
        top: 0%;
        left: 100%;
        -webkit-transform: rotate(-360deg);
    }    
    100%{
        opacity: 1;
        top: 30%;
        left: 50%;
        -webkit-transform: rotate(0deg);
    }
}

@-webkit-keyframes talkingPointAnimOut4{
    0%{ 
        opacity: 1;
        top: 30%;
        left: 50%;
        -webkit-transform: rotate(0deg);
    }    
    100%{
        opacity: 0;
        top: 100%;
        left: 0%;
        -webkit-transform: rotate(360deg);
    }
}

.talkingpoint{
    display: none;
    position: absolute;
    top: 30%;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    margin-top: -100px;
    color: white;
    font-family: $FredokaOne;
    font-size: 70px;
    text-align: center;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.7);
    // opacity: 0;
    
    
    // -webkit-animation-name: talkingPointAnim;
    // -webkit-animation-duration: 4s;

    // -webkit-animation-name: talkingPointAnimIn1;
    // -webkit-animation-duration: 1s;
    // -webkit-animation-timing-function: ease-in-out;
    // -webkit-animation-fill-mode: forwards;

    &.out{
        -webkit-animation-name: talkingPointAnimOut;
    }

    &.dark{
        color: black;
    }

    &.talkanim2{
        // -webkit-animation-name: talkingPointAnim2;
        -webkit-animation-name: talkingPointAnimIn2;
        &.out{
            -webkit-animation-name: talkingPointAnimOut2;
        }
    }

    &.talkanim3{
        // -webkit-animation-name: talkingPointAnim3;
        -webkit-animation-name: talkingPointAnimIn3;
        &.out{
            -webkit-animation-name: talkingPointAnimOut3;
        }
    }

    &.talkanim4{
        // -webkit-animation-name: talkingPointAnim4;
        -webkit-animation-name: talkingPointAnimIn4;
        &.out{
            -webkit-animation-name: talkingPointAnimOut4;
        }
    }
}

