@font-face{
    font-family: Righteous;
    src: url(../assets/fonts/Righteous-Regular.ttf);
}

// @font-face{
//     font-family: FredokaOne;
//     src: url(../assets/fonts/FredokaOne-Regular.ttf);
// }

@font-face{
    font-family: PressStart;
    src: url(../assets/fonts/PressStart2P-Regular.ttf);
}

// @font-face{
//     font-family: SourceSans;
//     font-weight: 200;
//     src: url(../assets/fonts/SourceSansPro-Regular.ttf);
// }

@font-face{
    font-family: OpenSans;
    font-weight: normal;
    src: url(../assets/fonts/OpenSans-Regular.ttf);
}

@font-face{
    font-family: OpenSans;
    font-weight: bold;
    src: url(../assets/fonts/OpenSans-Bold.ttf);
}

//fonts
$Righteous: 'Righteous', sans-serif;
$FredokaOne: 'Fredoka One', Arial, sans-serif;
$PressStart: 'PressStart', courier, sans-serif;
$Helvetica: 'Helvetica', Helvetica, Arial, sans-serif;
$StorefrontPro: StorefrontPro, Helvetica, Arial, sans-serif;
$SourceSans: "Source Sans", OpenSans, Helvetica, Arial, sans-serif;

//colors
$gray0: #F2F2F2;
$gray3: #D5D5D5;
$gray6: #595959;
$gray7: #808080;

$blue0: #daecef; //sky blue
$blue1: #e4f2f7; //sky stripes
$blue2: #003E4F; //dark sky blue

$green7: #008037;

$red: #FF3612;
$red2: #B30B11;

//assets
$graphical_web_logo: url(../assets/img/graphical-web-logo.svg);

$spinner: url(../assets/img/spinner.gif);
$key_left: url(../assets/img/svg/key_left.svg);
$key_right: url(../assets/img/svg/key_right.svg);
$info_shadow: url(../assets/img/svg/info_shadow.svg);
$info_btn: url(../assets/img/svg/info_btn.svg);
$info_icon: url(../assets/img/svg/info_icon.svg);
$circle: url(../assets/img/svg/circle.svg);
$circle1: url(../assets/img/svg/circle1.svg);
$circle2: url(../assets/img/svg/circle2.svg);
$circle3: url(../assets/img/svg/circle3.svg);
$icon_left: url(../assets/img/svg/icon_left.svg);
$icon_right: url(../assets/img/svg/icon_right.svg);
$sound_btn: url(../assets/img/svg/sound_btn.svg);
$plus_btn: url(../assets/img/svg/plus_btn.svg);
$plus_btn_blue: url(../assets/img/svg/plus_btn_blue.svg);
$plus_btn_green: url(../assets/img/svg/plus_btn_green.svg);
$plus_btn_yellow: url(../assets/img/svg/plus_btn_yellow.svg);
$plus_btn_purple: url(../assets/img/svg/plus_btn_purple.svg);
$plus_btn_bw: url(../assets/img/svg/plus_btn_bw.svg);
$plus_btn_red: url(../assets/img/svg/plus_btn_red.svg);
$util_bg: url(../assets/img/svg/util_bg.svg);

$mist: url(../assets/img/svg/mist.svg);
$terrain: url(../assets/img/svg/terrain.svg);

$shader_front: url(../assets/img/svg/shader-front.svg);
$shader_back: url(../assets/img/svg/shader-back.svg);

$jelly_f: url(../assets/shaders/jelly.fs);
$jelly_v: url(../assets/shaders/jelly.vs);
// $flag_f: url(../assets/shaders/bannerFlag.fs);
// $flag_v: url(../assets/shaders/bannerFlag.vs);
$flag_f: none;
$flag_v: none;
$bulb_f: url(../assets/shaders/bulb.fs);
$bulb_v: url(../assets/shaders/bulb.vs);

//intro
$cloud_1: url(../assets/img/intro/cloud-1.svg);
$cloud_2: url(../assets/img/intro/cloud-2.svg);
$bush_1: url(../assets/img/intro/bush-1.svg);
$tree_1: url(../assets/img/intro/tree-1.svg);
$tree_2: url(../assets/img/intro/tree-2.svg);
$tree_3: url(../assets/img/intro/tree-3.svg);
$tree_4: url(../assets/img/intro/tree-4.svg);
$tree_5: url(../assets/img/intro/tree-5.svg);
$tree_6: url(../assets/img/intro/tree-6.svg);
$tree_7: url(../assets/img/intro/tree-7.svg);
$grass: url(../assets/img/intro/grass.svg);
$shading: url(../assets/img/intro/ground-shading.svg);

$clouds: url(../assets/img/svg/clouds.svg);

$scroll: url(../assets/img/svg/scroll.svg);

//characters
$shader_face: url(../assets/img/character/shader_face.svg);

//transitions
$opacity_transition_out: opacity .2s ease-out;

@mixin border-image($value){
    -moz-border-image: $value;
    -webkit-border-image: $value;
    -o-border-image: $value;
}


