@font-face{
    font-family: Righteous;
    src: url(../fonts/Righteous-Regular.ttf);
}

@font-face{
    font-family: FredokaOne;
    src: url(../fonts/FredokaOne-Regular.ttf);
}

@font-face{
    font-family: PressStart;
    src: url(../fonts/PressStart2P-Regular.ttf);
}

//fonts
$Righteous: 'Righteous', sans-serif;
$FredokaOne: 'Fredoka One', Arial, sans-serif;
$PressStart: 'PressStart', courier, sans-serif;
$Helvetica: 'Helvetica', Helvetica, Arial, sans-serif;
$StorefrontPro: StorefrontPro, Helvetica, Arial, sans-serif;

//colors
$gray0: #F2F2F2;
$gray3: #D5D5D5;
$gray6: #595959;
$gray7: #808080;

$blue0: #AAE6F2; //sky blue
$blue2: #003E4F; //dark sky blue

$green7: #008037;

$red: #FF3612;
$red2: #B30B11;

//assets
$graphical_web_logo: url(../img/graphical-web-logo.svg);

$key_up: url(../img/svg/key_up.svg);
$key_down: url(../img/svg/key_down.svg);
$key_left: url(../img/svg/key_left.svg);
$key_right: url(../img/svg/key_right.svg);
$info_btn: url(../img/svg/info_btn.svg);
$info_icon: url(../img/svg/info_icon.svg);
$circle: url(../img/svg/circle.svg);
$circle_lg: url(../img/svg/circle_large.svg);
$icon_left: url(../img/svg/icon_left.svg);
$icon_right: url(../img/svg/icon_right.svg);

$terrain: url(../img/svg/terrain.svg);

//intro
$cloud_1: url(../img/intro/cloud-1.svg);
$cloud_2: url(../img/intro/cloud-2.svg);
$bush_1: url(../img/intro/bush-1.svg);
$tree_1: url(../img/intro/tree-1.svg);
$tree_2: url(../img/intro/tree-2.svg);
$tree_3: url(../img/intro/tree-3.svg);
$tree_4: url(../img/intro/tree-4.svg);
$tree_5: url(../img/intro/tree-5.svg);
$tree_6: url(../img/intro/tree-6.svg);
$tree_7: url(../img/intro/tree-7.svg);
$grass: url(../img/intro/grass.svg);
$shading: url(../img/intro/ground-shading.svg);

$clouds: url(../img/terrain/clouds.svg);

//characters
$div_bg: url(../img/character/div.jpg);
$css_bg: url(../img/character/css.png);
$moon_bg: url(../img/character/char3d/bg.png);
$moon_face: url(../img/character/char3d/face.png);
$ghost_bg: url(../img/svg/ghost.svg);

//transitions
$opacity_transition_out: opacity .2s ease-out;
