@font-face{
    font-family: Righteous;
    src: url(../assets/fonts/Righteous-Regular.ttf);
}

@font-face{
    font-family: FredokaOne;
    src: url(../assets/fonts/FredokaOne-Regular.ttf);
}

@font-face{
    font-family: PressStart;
    src: url(../assets/fonts/PressStart2P-Regular.ttf);
}

// @font-face{
//     font-family: SourceSans;
//     font-weight: 200;
//     src: url(../assets/fonts/SourceSansPro-Regular.ttf);
// }

@font-face{
    font-family: OpenSans;
    font-weight: normal;
    src: url(../assets/fonts/OpenSansPro-Regular.ttf);
}

@font-face{
    font-family: OpenSans;
    font-weight: bold;
    src: url(../assets/fonts/OpenSansPro-Bold.ttf);
}

//fonts
$Righteous: 'Righteous', sans-serif;
$FredokaOne: 'Fredoka One', Arial, sans-serif;
$PressStart: 'PressStart', courier, sans-serif;
$Helvetica: 'Helvetica', Helvetica, Arial, sans-serif;
$StorefrontPro: StorefrontPro, Helvetica, Arial, sans-serif;
$SourceSans: OpenSans, Helvetica, Arial, sans-serif;

//colors
$gray0: #F2F2F2;
$gray3: #D5D5D5;
$gray6: #595959;
$gray7: #808080;

$blue0: #AAE6F2; //sky blue
$blue2: #003E4F; //dark sky blue

$green7: #008037;

$red: #FF3612;
$red2: #B30B11;

//assets
$graphical_web_logo: url(../assets/img/graphical-web-logo.svg);

$spinner: url(../assets/img/spinner.gif);
$key_left: url(../assets/img/svg/key_left.svg);
$key_right: url(../assets/img/svg/key_right.svg);
$info_shadow: url(../assets/img/svg/info_shadow.svg);
$info_btn: url(../assets/img/svg/info_btn.svg);
$info_icon: url(../assets/img/svg/info_icon.svg);
$circle: url(../assets/img/svg/circle.svg);
$circle1: url(../assets/img/svg/circle1.svg);
$circle2: url(../assets/img/svg/circle2.svg);
$circle3: url(../assets/img/svg/circle3.svg);
$icon_left: url(../assets/img/svg/icon_left.svg);
$icon_right: url(../assets/img/svg/icon_right.svg);

$mist: url(../assets/img/svg/mist.svg);
$terrain: url(../assets/img/svg/terrain.svg);

$fold_vshader: url(../assets/shaders/vertex/fold.vs);
$fold_fshader: url(../assets/shaders/fragment/fold.fs);
$frag_shader: url(../assets/shaders/flag.fs);
$vert_shader: url(../assets/shaders/flag.vs);

//intro
$cloud_1: url(../assets/img/intro/cloud-1.svg);
$cloud_2: url(../assets/img/intro/cloud-2.svg);
$bush_1: url(../assets/img/intro/bush-1.svg);
$tree_1: url(../assets/img/intro/tree-1.svg);
$tree_2: url(../assets/img/intro/tree-2.svg);
$tree_3: url(../assets/img/intro/tree-3.svg);
$tree_4: url(../assets/img/intro/tree-4.svg);
$tree_5: url(../assets/img/intro/tree-5.svg);
$tree_6: url(../assets/img/intro/tree-6.svg);
$tree_7: url(../assets/img/intro/tree-7.svg);
$grass: url(../assets/img/intro/grass.svg);
$shading: url(../assets/img/intro/ground-shading.svg);

$clouds: url(../assets/img/terrain/clouds.svg);

//characters
$div_bg: url(../assets/img/character/div.jpg);
$css_bg: url(../assets/img/character/css.png);
$moon_bg: url(../assets/img/character/char3d/bg.png);
$moon_face: url(../assets/img/character/3d_face.png);
$ghost_bg: url(../assets/img/character/ghost.svg);
$ghost_face: url(../assets/img/character/ghost_face.png);
$svg_face: url(../assets/img/character/svg_face.png);
$shader_face: url(../assets/img/character/shader_face.svg);

//transitions
$opacity_transition_out: opacity .2s ease-out;
