<div id="introCloudHolder"></div>

<div id="introGround4" class="ground">
    <div class="tree tree-6"></div>
    <div class="tree tree-6"></div>
    <div class="tree tree-6"></div>
    <div class="tree tree-6"></div>
    <div class="tree tree-6"></div>
</div> 

<div id="introGround3" class="ground">
    <div class="tree tree-5"></div>
    <div class="tree tree-5"></div>
    <div class="tree tree-5"></div>
    <div class="tree tree-5"></div>
</div> 

<div id="introGround2" class="ground">
    <div class="tree tree-2"></div>
    <div class="tree tree-2"></div>
    <div class="tree tree-2"></div>
    <div class="tree tree-2"></div>
    <div class="tree tree-2"></div>
    <div class="tree tree-2"></div>
    <div class="tree tree-2"></div>
</div> 

<div id="introGround1" class="ground">
    <div class="parallax">
        <!-- <div class="tree bush-1"></div> -->
        <div class="tree tree-1"></div>
        <div class="tree tree-1b"></div>
        <!-- <div class="tree grass-1"></div> -->
        <div class="tree tree-1"></div>
        <div class="tree tree-1b"></div>
        <!-- <div class="tree grass-1"></div> -->
        <div class="tree tree-1"></div>
        <div class="tree tree-1"></div>
        <div class="tree tree-1b"></div>
        <!-- <div class="tree bush-1"></div> -->
        <div class="tree tree-1"></div>
    </div>
    <div id="introGround1a"></div>
</div> 
