 <div id="planet1" class="planet">
    <div id="cube1" class="cube-layer">
        <div class="front side plane"></div>
        <div class="left side plane"></div>
        <div class="right side plane"></div>
        <div class="back side plane"></div>
        <div class="bottom plane"></div>
    </div> 
    <div id="cube2" class="cube-layer">
        <div class="front side plane"></div>
        <div class="left side plane"></div>
        <div class="right side plane"></div>
        <div class="back side plane"></div>
        <div class="bottom plane"></div>
    </div> 
    <div id="cube3" class="cube-layer">
        <div class="front side plane"></div>
        <div class="left side plane"></div>
        <div class="right side plane"></div>
        <div class="back side plane"></div>
        <div class="bottom plane"></div>
    </div> 
    <div id="cube4" class="cube-layer">
        <div class="front side plane"></div>
        <div class="left side plane"></div>
        <div class="right side plane"></div>
        <div class="back side plane"></div>
        <div class="bottom plane"></div>
    </div> 
    <!-- <div id="cube5" class="cube-layer"> -->
    <!--     <div class="front side plane"></div> -->
    <!--     <div class="left side plane"></div> -->
    <!--     <div class="right side plane"></div> -->
    <!--     <div class="back side plane"></div> -->
    <!--     <div class="bottom plane"></div> -->
    <!-- </div>  -->
</div>

