<div id="planet1" class="planet">
    <div id="cube1" class="cube-layer">
        <div class="front side plane">

            <div id="parallaxA">
                <div id="cloudsA" class="parallax-item" data-offset="5"></div>
                <canvas id="groundA5" class="parallax-item" width="5000" height="800" data-offset="4"></canvas>
                <canvas id="groundA4" class="parallax-item" width="5000" height="800" data-offset="3"></canvas>
                <canvas id="groundA3" class="parallax-item" width="5000" height="800" data-offset="2"></canvas>
                <canvas id="groundA2" class="parallax-item" width="5000" height="800" data-offset="1"></canvas>

                <div id="layer1" class="parallax-item" data-offset="0">
                    <canvas id="groundA1" width="5000" height="800"></canvas>
                    <div id="charCSS" class="character"></div>
                    <div id="charSVG" class="character"></div>
                </div>
            </div><!-- / paralax -->
            
        </div>
        <div class="left side plane"></div>
        <div class="right side plane"></div>
        <div class="back side plane"></div>
        <div class="bottom plane"></div>
    </div> <!-- / cube -->
</div><!-- / planet1 -->

