<div id="staticVisuals">
    <section id="bgOne">
        <img class="div" src="../assets/img/characters/div.png"> 
    </section>
    <section id="bgTwo">
        <img class="div" src="../assets/img/characters/div.png"> 
        <img class="css" src="../assets/img/characters/css.png"> 
    </section>
    <section id="bgThree">
        <img class="div" src="../assets/img/characters/div.png"> 
        <img class="svg" src="../assets/img/characters/svg.png"> 
    </section>
    <section id="bgFour">
        <img class="div" src="../assets/img/characters/div.png"> 
        <img class="transform" src="../assets/img/characters/transform.png"> 
    </section>
    <section id="bgFive">
        <img class="div" src="../assets/img/characters/div.png"> 
        <img class="canvas" src="../assets/img/characters/canvas_large.png"> 
    </section>
    <section id="bgSix">
        <img class="div" src="../assets/img/characters/div.png"> 
        <img class="webgl" src="../assets/img/characters/webgl.png"> 
    </section>
    <section id="bgSeven">
        <img class="div" src="../assets/img/characters/div.png"> 
        <img class="blend" src="../assets/img/characters/blend.png"> 
    </section>
    <section id="bgEight">
        <img class="div" src="../assets/img/characters/div.png"> 
        <img class="shader" src="../assets/img/characters/shader.png"> 
    </section>
</div>
