/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Righteous;
  src: url(../fonts/Righteous-Regular.ttf);
}

@font-face {
  font-family: FredokaOne;
  src: url(../fonts/FredokaOne-Regular.ttf);
}

/* line 1, ../scss/screen/_main.scss */
body {
  margin: 0px;
  background-color: #f2f2f2;
  font-family: "Fredoka One", Arial, sans-serif;
  color: #595959;
  -webkit-transition: background 1s linear;
  -moz-transition: background 1s linear;
  -ms-transition: background 1s linear;
  -o-transition: background 1s linear;
  transition: background 1s linear;
}

/* line 9, ../scss/screen/_main.scss */
header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 200;
}

/* line 18, ../scss/screen/_main.scss */
#logoHolder {
  position: relative;
  margin: 20px;
  z-index: 200;
  pointer-events: none;
}
/* line 24, ../scss/screen/_main.scss */
#logoHolder h2 {
  padding: 0 0 0 50px;
  height: 50px;
  color: #d5d5d5;
  line-height: 12px;
  font-size: 24px;
  font-family: "Righteous", sans-serif;
  -webkit-transition: color 1s linear;
  -moz-transition: color 1s linear;
  -ms-transition: color 1s linear;
  -o-transition: color 1s linear;
  transition: color 1s linear;
}
/* line 33, ../scss/screen/_main.scss */
#logoHolder h2 small {
  font-size: 12px;
}
/* line 38, ../scss/screen/_main.scss */
#logoHolder svg {
  position: absolute;
}

/* line 43, ../scss/screen/_main.scss */
nav {
  display: none;
  position: fixed;
  bottom: 10px;
  left: 15px;
  z-index: 100;
}
/* line 50, ../scss/screen/_main.scss */
nav canvas {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* line 57, ../scss/screen/_main.scss */
blockquote {
  display: none;
  position: absolute;
  min-width: 200px;
  padding: 10px 15px;
  background: white;
  border-radius: 10px;
}

/* line 66, ../scss/screen/_main.scss */
.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -50px 0 0 -50px;
  width: 100px;
  height: 100px;
  z-index: 100;
  background: url(../img/spinner.gif) no-repeat center center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 78, ../scss/screen/_main.scss */
#cover {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #595959;
  z-index: 1000;
}

/* line 89, ../scss/screen/_main.scss */
#preloader {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
}

/* line 98, ../scss/screen/_main.scss */
#main {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 107, ../scss/screen/_main.scss */
.key-btn {
  display: none;
  position: absolute;
  top: 50%;
  z-index: 100;
}

/* line 114, ../scss/screen/_main.scss */
#key-right {
  right: 50px;
}
/* line 117, ../scss/screen/_main.scss */
#key-right .icon {
  background-image: url(../img/svg/icon_right.svg);
}

/* line 122, ../scss/screen/_main.scss */
#key-left {
  left: 50px;
}
/* line 125, ../scss/screen/_main.scss */
#key-left .icon {
  background-image: url(../img/svg/icon_left.svg);
}

/* line 130, ../scss/screen/_main.scss */
.circle-btn {
  position: absolute;
  width: 60px;
  height: 65px;
  cursor: pointer;
}
/* line 136, ../scss/screen/_main.scss */
.circle-btn .icon {
  position: absolute;
  width: 60px;
  height: 65px;
  background-repeat: no-repeat;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
/* line 144, ../scss/screen/_main.scss */
.circle-btn .circle {
  position: absolute;
  width: 60px;
  height: 65px;
  background-image: url(../img/svg/circle.svg);
  background-repeat: no-repeat;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
/* line 155, ../scss/screen/_main.scss */
.circle-btn:hover .circle {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* line 160, ../scss/screen/_main.scss */
.circle-btn.large {
  width: 66px;
  height: 66px;
}
/* line 164, ../scss/screen/_main.scss */
.circle-btn.large .circle {
  width: 66px;
  height: 66px;
  background-image: url(../img/svg/circle_large.svg);
}
/* line 170, ../scss/screen/_main.scss */
.circle-btn.large .icon {
  width: 66px;
  height: 66px;
}

/* line 177, ../scss/screen/_main.scss */
.info-btn {
  display: none;
  top: 0px;
  right: 0px;
  margin: 30px;
}
/* line 183, ../scss/screen/_main.scss */
.info-btn .icon {
  background-image: url(../img/svg/info_icon.svg);
}

/* line 188, ../scss/screen/_main.scss */
#warning {
  display: none;
  position: absolute;
  top: 20px;
  left: 300px;
  min-width: 300px;
  padding: 20px;
  color: white;
  font-size: 24px;
  border-radius: 20px;
  background: #FF3612;
}

/* line 201, ../scss/screen/_main.scss */
#vignette {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .5;
  z-index: 200;
}

/* line 212, ../scss/screen/_main.scss */
#popupHolder {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
/* line 220, ../scss/screen/_main.scss */
#popupHolder .popup {
  display: none;
  position: relative;
  width: 400px;
  height: 300px;
  margin: 50px auto;
  padding: 30px;
  background: white;
  border-radius: 20px;
  color: gray;
  font-size: 24px;
  z-index: 202;
}
/* line 233, ../scss/screen/_main.scss */
#popupHolder .popup p {
  padding-top: 10px;
  padding-bottom: 50px;
  line-height: 30px;
}
/* line 239, ../scss/screen/_main.scss */
#popupHolder .popup h3 {
  margin: none;
  color: #ff3612;
  font-size: 48px;
}
/* line 245, ../scss/screen/_main.scss */
#popupHolder .popup a {
  color: #ff3612;
  text-decoration: none;
}
/* line 250, ../scss/screen/_main.scss */
#popupHolder .popup .dl-btn {
  padding: 10px;
  color: white;
  background: #ff3612;
  border-radius: 10px;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
/* line 257, ../scss/screen/_main.scss */
#popupHolder .popup .dl-btn:hover {
  background: #b30b11;
}

/* line 1, ../scss/screen/_intro.scss */
#introView {
  display: none;
  cursor: pointer;
  top: 50%;
  left: 50%;
  width: 0px;
  margin-top: -250px;
  height: 500px;
}
/* line 12, ../scss/screen/_intro.scss */
#introView h1 {
  position: absolute;
  width: 600px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -300px;
  color: #595959;
  font-size: 90px;
  font-style: normal;
  font-weight: normal;
  font-family: StorefrontPro, Helvetica, Arial, sans-serif;
  z-index: 1;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
/* line 28, ../scss/screen/_intro.scss */
#introView h1 small {
  font-size: 35px;
  font-weight: bold;
}
/* line 35, ../scss/screen/_intro.scss */
#introView p {
  display: none;
  position: absolute;
  margin-left: -60px;
  margin-top: 100px;
  width: 120px;
  top: 50%;
  left: 50%;
  font-weight: bold;
  color: #F2F2F2;
  z-index: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -ms-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
/* line 48, ../scss/screen/_intro.scss */
#introView p:hover {
  opacity: .5;
}
/* line 53, ../scss/screen/_intro.scss */
#introView .intro-cloud {
  position: absolute;
}
/* line 57, ../scss/screen/_intro.scss */
#introView .cloud-1 {
  width: 203px;
  height: 81px;
  background-image: url(../img/intro/cloud-1.svg);
}
/* line 63, ../scss/screen/_intro.scss */
#introView .cloud-2 {
  width: 150px;
  height: 50px;
  background-image: url(../img/intro/cloud-2.svg);
}
/* line 69, ../scss/screen/_intro.scss */
#introView .tree {
  position: absolute;
  bottom: 100%;
}
/* line 74, ../scss/screen/_intro.scss */
#introView .bush-1 {
  width: 83px;
  height: 30px;
  background-image: url(../img/intro/bush-1.svg);
}
/* line 80, ../scss/screen/_intro.scss */
#introView .tree-1 {
  width: 53px;
  height: 81px;
  background-image: url(../img/intro/tree-1.svg);
}
/* line 86, ../scss/screen/_intro.scss */
#introView .tree-2 {
  width: 33px;
  height: 51px;
  background-image: url(../img/intro/tree-2.svg);
}
/* line 92, ../scss/screen/_intro.scss */
#introView .tree-3 {
  width: 33px;
  height: 41px;
  background-image: url(../img/intro/tree-3.svg);
}
/* line 99, ../scss/screen/_intro.scss */
#introView .tree-4 {
  width: 33px;
  height: 51px;
  background-image: url(../img/intro/tree-4.svg);
}
/* line 105, ../scss/screen/_intro.scss */
#introView .tree-5 {
  width: 33px;
  height: 51px;
  background-image: url(../img/intro/tree-5.svg);
}
/* line 111, ../scss/screen/_intro.scss */
#introView .tree-6 {
  width: 20px;
  height: 30px;
  background-image: url(../img/intro/tree-6.svg);
}
/* line 117, ../scss/screen/_intro.scss */
#introView .tree-7 {
  width: 18px;
  height: 22px;
  background-image: url(../img/intro/tree-7.svg);
}
/* line 123, ../scss/screen/_intro.scss */
#introView .grass-1 {
  width: 95px;
  height: 22px;
  background-image: url(../img/intro/grass.svg);
}
/* line 130, ../scss/screen/_intro.scss */
#introView .ground {
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -2000px;
  width: 4000px;
}

/* line 139, ../scss/screen/_intro.scss */
#introBg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* line 146, ../scss/screen/_intro.scss */
#introGround1 {
  height: 180px;
  background-color: #808080;
  background-repeat: repeat-x;
}

/* line 153, ../scss/screen/_intro.scss */
#introGround1a {
  position: absolute;
  height: 1000px;
  width: 100%;
  background-color: #808080;
  background-image: url(../img/intro/ground-shading.svg);
  background-repeat: repeat-x;
}

/* line 162, ../scss/screen/_intro.scss */
#introGround2 {
  height: 200px;
  background-color: #D0D0D0;
}

/* line 167, ../scss/screen/_intro.scss */
#introGround3 {
  height: 250px;
  background-color: #C5C5C5;
}

/* line 172, ../scss/screen/_intro.scss */
#introGround4 {
  height: 300px;
  background-color: #D8D8D8;
}

/* line 177, ../scss/screen/_intro.scss */
#introGround5 {
  height: 350px;
  background-color: #E9E9E9;
}

/* line 9, ../scss/screen/_scenery.scss */
#camera {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  -webkit-perspective: 500px;
  perspective: 500px;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 28, ../scss/screen/_scenery.scss */
#scene {
  position: absolute;
  bottom: 0px;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 35, ../scss/screen/_scenery.scss */
#planet1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 4435px;
  height: 1200px;
  -moz-transform-style: preserve-3d;
  -webkit-transform: translateZ(-1000px);
  -moz-transform: translateZ(-1000px);
  -ms-transform: translateZ(-1000px);
  -o-transform: translateZ(-1000px);
  transform: translateZ(-1000px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}

/* line 48, ../scss/screen/_scenery.scss */
#cube1 {
  position: absolute;
  top: -50px;
  width: 4435px;
  height: 1200px;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}
/* line 58, ../scss/screen/_scenery.scss */
#cube1 .plane {
  position: absolute;
  background-repeat: repeat-x;
  background-position: left bottom;
  -webkit-backface-visibility: hidden;
}
/* line 66, ../scss/screen/_scenery.scss */
#cube1 .front {
  width: 4435px;
  height: 1200px;
  -webkit-transform: rotateY(0deg) translateZ(1000px);
  -moz-transform: rotateY(0deg) translateZ(1000px);
  -ms-transform: rotateY(0deg) translateZ(1000px);
  -o-transform: rotateY(0deg) translateZ(1000px);
  transform: rotateY(0deg) translateZ(1000px);
}
/* line 73, ../scss/screen/_scenery.scss */
#cube1 .right {
  display: none;
  width: 2000px;
  height: 1200px;
  -webkit-transform: rotateY(90deg) translateZ(3435px);
  -moz-transform: rotateY(90deg) translateZ(3435px);
  -ms-transform: rotateY(90deg) translateZ(3435px);
  -o-transform: rotateY(90deg) translateZ(3435px);
  transform: rotateY(90deg) translateZ(3435px);
  background-image: url(../js/graphicalweb/views/svg/terrain.svg);
  background-repeat: no-repeat;
}
/* line 82, ../scss/screen/_scenery.scss */
#cube1 .left {
  display: none;
  width: 2000px;
  height: 1200px;
  -webkit-transform: rotateY(90deg) translateZ(-1000px);
  -moz-transform: rotateY(90deg) translateZ(-1000px);
  -ms-transform: rotateY(90deg) translateZ(-1000px);
  -o-transform: rotateY(90deg) translateZ(-1000px);
  transform: rotateY(90deg) translateZ(-1000px);
  background-image: url(../js/graphicalweb/views/svg/terrain.svg);
  background-repeat: no-repeat;
}
/* line 91, ../scss/screen/_scenery.scss */
#cube1 .back {
  width: 4435px;
  height: 1200px;
  -webkit-transform: rotateY(-180deg) translateZ(1000px);
  -moz-transform: rotateY(-180deg) translateZ(1000px);
  -ms-transform: rotateY(-180deg) translateZ(1000px);
  -o-transform: rotateY(-180deg) translateZ(1000px);
  transform: rotateY(-180deg) translateZ(1000px);
}
/* line 98, ../scss/screen/_scenery.scss */
#cube1 .back2 {
  display: none;
  width: 4435px;
  height: 1200px;
  -webkit-transform: rotateY(0deg) translateZ(-1000px);
  -moz-transform: rotateY(0deg) translateZ(-1000px);
  -ms-transform: rotateY(0deg) translateZ(-1000px);
  -o-transform: rotateY(0deg) translateZ(-1000px);
  transform: rotateY(0deg) translateZ(-1000px);
  background-image: url(../js/graphicalweb/views/svg/terrain.svg);
  background-repeat: no-repeat;
}
/* line 107, ../scss/screen/_scenery.scss */
#cube1 .bottom {
  width: 4435px;
  height: 2000px;
  -webkit-transform: rotateX(-90deg) translateZ(200px);
  -moz-transform: rotateX(-90deg) translateZ(200px);
  -ms-transform: rotateX(-90deg) translateZ(200px);
  -o-transform: rotateX(-90deg) translateZ(200px);
  transform: rotateX(-90deg) translateZ(200px);
  background: green;
}

/* line 116, ../scss/screen/_scenery.scss */
#parallaxA {
  position: absolute;
  overflow: hidden;
  width: 4435px;
  height: 2000px;
  z-index: 1;
}
/* line 123, ../scss/screen/_scenery.scss */
#parallaxA canvas {
  position: absolute;
}

/* line 130, ../scss/screen/_scenery.scss */
#cloudsA {
  position: absolute;
  left: 0px;
  width: 4435px;
  height: 1200px;
  background-repeat: repeat-x;
  background-image: url(../img/terrain/clouds.svg);
  z-index: 0;
}

/* line 143, ../scss/screen/_scenery.scss */
#logoHolder *, #ground * {
  -webkit-transition: fill 1s linear;
  -moz-transition: fill 1s linear;
  -ms-transition: fill 1s linear;
  -o-transition: fill 1s linear;
  transition: fill 1s linear;
}

/* line 154, ../scss/screen/_scenery.scss */
.hills0, .hills1, .hills2, .hills3, .hills4, .hills5, .trees1, .trees2, .trees3, .trees4, .trees5, .bush5 {
  -webkit-transition: fill 1s linear;
  -moz-transition: fill 1s linear;
  -ms-transition: fill 1s linear;
  -o-transition: fill 1s linear;
  transition: fill 1s linear;
}

/* line 159, ../scss/screen/_scenery.scss */
.css {
  background-color: #aae6f2;
}
/* line 163, ../scss/screen/_scenery.scss */
.css #logoHolder svg * {
  fill: white;
}
/* line 167, ../scss/screen/_scenery.scss */
.css #logoHolder h2 {
  color: white;
}
/* line 172, ../scss/screen/_scenery.scss */
.css .hills0, .css .trees0 {
  fill: #81E1EA;
}
/* line 176, ../scss/screen/_scenery.scss */
.css .hills1, .css .trees1 {
  fill: #54D6D9;
}
/* line 180, ../scss/screen/_scenery.scss */
.css .hills2, .css .trees2 {
  fill: #00B4C6;
}
/* line 184, ../scss/screen/_scenery.scss */
.css .hills3, .css .trees3 {
  fill: #35C7D1;
}
/* line 188, ../scss/screen/_scenery.scss */
.css .hills4 {
  fill: #008137;
}
/* line 192, ../scss/screen/_scenery.scss */
.css .hills5 {
  fill: #005928;
}
/* line 196, ../scss/screen/_scenery.scss */
.css .trees5 {
  fill: #007728;
}
/* line 200, ../scss/screen/_scenery.scss */
.css .bush5 {
  fill: #00B342;
}

/* line 205, ../scss/screen/_scenery.scss */
.night {
  background-color: #003e4f;
}
/* line 209, ../scss/screen/_scenery.scss */
.night #logoHolder svg * {
  fill: white;
}
/* line 213, ../scss/screen/_scenery.scss */
.night #logoHolder h2 {
  color: white;
}
/* line 218, ../scss/screen/_scenery.scss */
.night .hills0, .night .trees0 {
  fill: #528E94;
}
/* line 222, ../scss/screen/_scenery.scss */
.night .hills1, .night .trees1 {
  fill: #338183;
}
/* line 226, ../scss/screen/_scenery.scss */
.night .hills2, .night .trees2 {
  fill: #006570;
}
/* line 230, ../scss/screen/_scenery.scss */
.night .hills3, .night .trees3 {
  fill: #20757B;
}
/* line 234, ../scss/screen/_scenery.scss */
.night .hills4 {
  fill: #3F6070;
}
/* line 238, ../scss/screen/_scenery.scss */
.night .hills5 {
  fill: #293E49;
}
/* line 242, ../scss/screen/_scenery.scss */
.night .trees5 {
  fill: #002029;
}
/* line 246, ../scss/screen/_scenery.scss */
.night .bush5 {
  fill: #00B342;
}

/* line 252, ../scss/screen/_scenery.scss */
.space {
  background-color: #001A21;
}

/* line 2, ../scss/screen/_sections.scss */
section {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 110;
}

/* line 13, ../scss/screen/_sections.scss */
.section1, .section2, .section3, .section4, .section5 {
  display: none;
}

/* line 17, ../scss/screen/_sections.scss */
.god-bubble {
  color: white;
  background: #595959;
}

/* line 22, ../scss/screen/_sections.scss */
.css-bubble {
  background: #FFE6E8;
}

/* line 26, ../scss/screen/_sections.scss */
blockquote {
  line-height: 24px;
  max-width: 300px;
}

/* line 32, ../scss/screen/_sections.scss */
blockquote.section1.div-bubble {
  left: 50%;
  bottom: 50%;
}
/* line 37, ../scss/screen/_sections.scss */
blockquote.section1.god-bubble {
  left: 50%;
  top: 100px;
}

/* line 44, ../scss/screen/_sections.scss */
blockquote.section2.div-bubble {
  left: 30%;
  bottom: 60%;
}
/* line 49, ../scss/screen/_sections.scss */
blockquote.section2.css-bubble {
  left: 60%;
  bottom: 60%;
}

/* line 56, ../scss/screen/_sections.scss */
blockquote.section3.div-bubble {
  left: 20%;
  bottom: 60%;
}
/* line 61, ../scss/screen/_sections.scss */
blockquote.section3.svg-bubble {
  left: 30%;
  bottom: 70%;
}

/* line 68, ../scss/screen/_sections.scss */
blockquote.section4.div-bubble {
  left: 20%;
  bottom: 65%;
}
/* line 73, ../scss/screen/_sections.scss */
blockquote.section4.moon-bubble {
  left: 55%;
  bottom: 50%;
}

/* line 80, ../scss/screen/_sections.scss */
blockquote.section5.div-bubble {
  left: 20%;
  bottom: 40%;
}
/* line 85, ../scss/screen/_sections.scss */
blockquote.section5.stars-bubble {
  left: 55%;
  bottom: 60%;
}

/* line 92, ../scss/screen/_sections.scss */
blockquote.section6.div-bubble {
  left: 20%;
  bottom: 40%;
}
/* line 97, ../scss/screen/_sections.scss */
blockquote.section6.webgl-bubble {
  left: 55%;
  bottom: 60%;
}

@-webkit-keyframes blink {
  /* line 105, ../scss/screen/_sections.scss */
  from {
    opacity: 1;
  }

  /* line 108, ../scss/screen/_sections.scss */
  to {
    opacity: 0;
  }
}

/* line 113, ../scss/screen/_sections.scss */
.blink {
  -webkit-animation: blink .5s infinite none;
}

/* line 1, ../scss/screen/_characters.scss */
.character {
  position: absolute;
}

/* line 5, ../scss/screen/_characters.scss */
#charDIV {
  top: 500px;
  width: 80px;
  height: 80px;
  background-color: #FFAB56;
  background-repeat: no-repeat;
  background-image: url(../img/character/div.jpg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(155px);
  -moz-transform: translateZ(155px);
  -ms-transform: translateZ(155px);
  -o-transform: translateZ(155px);
  transform: translateZ(155px);
}

/* line 16, ../scss/screen/_characters.scss */
#charCSS {
  top: 550px;
  left: 2000px;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background: #FFAD90;
  background-repeat: no-repeat;
  background-image: url(../img/character/css.png);
  z-index: 100;
  cursor: pointer;
  -webkit-transition: box-shadow 0.5s linear, border-radius 0.5s linear;
  -moz-transition: box-shadow 0.5s linear, border-radius 0.5s linear;
  -ms-transition: box-shadow 0.5s linear, border-radius 0.5s linear;
  -o-transition: box-shadow 0.5s linear, border-radius 0.5s linear;
  transition: box-shadow 0.5s linear, border-radius 0.5s linear;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
}
/* line 30, ../scss/screen/_characters.scss */
#charCSS:hover {
  -webkit-box-shadow: 0px 0px 0px 5px #d68989;
  -moz-box-shadow: 0px 0px 0px 5px #d68989;
  box-shadow: 0px 0px 0px 5px #d68989;
  border-radius: 20px;
}

@-webkit-keyframes rotate {
  /* line 37, ../scss/screen/_characters.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 38, ../scss/screen/_characters.scss */
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes swing {
  /* line 42, ../scss/screen/_characters.scss */
  0% {
    -webkit-transform: rotate(-10deg);
  }

  /* line 43, ../scss/screen/_characters.scss */
  100% {
    -webkit-transform: rotate(20deg);
  }
}

/* line 46, ../scss/screen/_characters.scss */
#charSVG {
  top: 350px;
  left: 3000px;
  z-index: 100;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
}
/* line 56, ../scss/screen/_characters.scss */
#charSVG.animating #circle3, #charSVG.animating #circle2, #charSVG.animating #circle1 {
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
}
/* line 60, ../scss/screen/_characters.scss */
#charSVG.animating #circle1 {
  -webkit-animation: rotate 5s infinite linear;
}
/* line 64, ../scss/screen/_characters.scss */
#charSVG.animating #circle2 {
  -webkit-animation: rotate 7s infinite linear;
}
/* line 68, ../scss/screen/_characters.scss */
#charSVG.animating #circle3 {
  -webkit-animation: rotate 10s infinite linear;
}

/* line 87, ../scss/screen/_characters.scss */
#charTransform {
  position: absolute;
  width: 200px;
  height: 200px;
  -webkit-transform: translate3d(4800px, -600px, 4300px);
  -moz-transform: translate3d(4800px, -600px, 4300px);
  -ms-transform: translate3d(4800px, -600px, 4300px);
  -o-transform: translate3d(4800px, -600px, 4300px);
  transform: translate3d(4800px, -600px, 4300px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}
/* line 96, ../scss/screen/_characters.scss */
#charTransform .face {
  width: 200px;
  height: 200px;
  background-image: url(../img/character/char3d/face.png);
  background-repeat: no-repeat;
}
/* line 103, ../scss/screen/_characters.scss */
#charTransform .plane {
  position: absolute;
  background-position: left top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url(../img/character/char3d/bg.png);
  -moz-transform-style: preserve-3d;
}
/* line 113, ../scss/screen/_characters.scss */
#charTransform .front {
  width: 200px;
  height: 200px;
  -webkit-transform: rotateY(0deg) translateZ(100px);
  -moz-transform: rotateY(0deg) translateZ(100px);
  -ms-transform: rotateY(0deg) translateZ(100px);
  -o-transform: rotateY(0deg) translateZ(100px);
  transform: rotateY(0deg) translateZ(100px);
}
/* line 120, ../scss/screen/_characters.scss */
#charTransform .right {
  width: 200px;
  height: 200px;
  -webkit-transform: rotateY(90deg) translateZ(100px);
  -moz-transform: rotateY(90deg) translateZ(100px);
  -ms-transform: rotateY(90deg) translateZ(100px);
  -o-transform: rotateY(90deg) translateZ(100px);
  transform: rotateY(90deg) translateZ(100px);
}
/* line 127, ../scss/screen/_characters.scss */
#charTransform .left {
  width: 200px;
  height: 200px;
  -webkit-transform: rotateY(-90deg) translateZ(100px);
  -moz-transform: rotateY(-90deg) translateZ(100px);
  -ms-transform: rotateY(-90deg) translateZ(100px);
  -o-transform: rotateY(-90deg) translateZ(100px);
  transform: rotateY(-90deg) translateZ(100px);
}
/* line 134, ../scss/screen/_characters.scss */
#charTransform .back {
  width: 200px;
  height: 200px;
  -webkit-transform: rotateY(180deg) translateZ(100px);
  -moz-transform: rotateY(180deg) translateZ(100px);
  -ms-transform: rotateY(180deg) translateZ(100px);
  -o-transform: rotateY(180deg) translateZ(100px);
  transform: rotateY(180deg) translateZ(100px);
}
/* line 141, ../scss/screen/_characters.scss */
#charTransform .bottom {
  width: 200px;
  height: 200px;
  -webkit-transform: rotateX(-90deg) translateZ(100px);
  -moz-transform: rotateX(-90deg) translateZ(100px);
  -ms-transform: rotateX(-90deg) translateZ(100px);
  -o-transform: rotateX(-90deg) translateZ(100px);
  transform: rotateX(-90deg) translateZ(100px);
}
/* line 148, ../scss/screen/_characters.scss */
#charTransform .top {
  width: 200px;
  height: 200px;
  -webkit-transform: rotateX(90deg) translateZ(100px);
  -moz-transform: rotateX(90deg) translateZ(100px);
  -ms-transform: rotateX(90deg) translateZ(100px);
  -o-transform: rotateX(90deg) translateZ(100px);
  transform: rotateX(90deg) translateZ(100px);
}

/* line 156, ../scss/screen/_characters.scss */
#charCanvas {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 163, ../scss/screen/_characters.scss */
#charWebgl {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 168, ../scss/screen/_characters.scss */
#charWebgl canvas {
  width: 100%;
  height: 100%;
}

/* line 174, ../scss/screen/_characters.scss */
#charBlend {
  display: none;
  top: 450px;
  left: 1200px;
  width: 200px;
  height: 200px;
  background: url(../img/svg/ghost.svg);
  z-index: 100;
  -webkit-blend-mode: multiply;
}

/* line 185, ../scss/screen/_characters.scss */
#charShader {
  top: 450px;
  left: 2300px;
  width: 200px;
  height: 200px;
  background: url(../img/svg/ghost.svg);
  z-index: 100;
}
