/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Righteous;
  src: url(../assets/fonts/Righteous-Regular.ttf);
}

@font-face {
  font-family: FredokaOne;
  src: url(../assets/fonts/FredokaOne-Regular.ttf);
}

@font-face {
  font-family: PressStart;
  src: url(../assets/fonts/PressStart2P-Regular.ttf);
}

@font-face {
  font-family: OpenSans;
  font-weight: normal;
  src: url(../assets/fonts/OpenSansPro-Regular.ttf);
}

@font-face {
  font-family: OpenSans;
  font-weight: bold;
  src: url(../assets/fonts/OpenSansPro-Bold.ttf);
}

/* line 1, ../scss/screen/_main.scss */
body {
  margin: 0px;
  background-color: #f2f2f2;
  font-family: OpenSans, Helvetica, Arial, sans-serif;
  color: #595959;
  width: 100%;
  height: 100%;
  overflow: none;
  -webkit-transition: background 1s linear;
  -moz-transition: background 1s linear;
  -ms-transition: background 1s linear;
  -o-transition: background 1s linear;
  transition: background 1s linear;
}

/* line 12, ../scss/screen/_main.scss */
header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 200;
}

/* line 21, ../scss/screen/_main.scss */
#logoHolder {
  position: relative;
  margin: 30px;
  z-index: 200;
  pointer-events: none;
}
/* line 28, ../scss/screen/_main.scss */
#logoHolder h2 {
  padding: 0 0 0 50px;
  height: 50px;
  color: #d5d5d5;
  line-height: 12px;
  font-size: 24px;
  font-family: "Righteous", sans-serif;
  -webkit-transition: color 1s linear;
  -moz-transition: color 1s linear;
  -ms-transition: color 1s linear;
  -o-transition: color 1s linear;
  transition: color 1s linear;
}
/* line 37, ../scss/screen/_main.scss */
#logoHolder h2 small {
  font-size: 12px;
}
/* line 42, ../scss/screen/_main.scss */
#logoHolder svg {
  position: absolute;
}

/* line 47, ../scss/screen/_main.scss */
nav {
  display: none;
  position: fixed;
  bottom: 10px;
  left: 15px;
  z-index: 100;
}
/* line 54, ../scss/screen/_main.scss */
nav canvas {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

/* line 61, ../scss/screen/_main.scss */
blockquote {
  display: none;
  position: absolute;
  min-width: 200px;
  padding: 10px 15px;
  background: white;
  border-radius: 10px;
}

/* line 70, ../scss/screen/_main.scss */
.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -50px 0 0 -50px;
  width: 100px;
  height: 100px;
  z-index: 100;
  background-image: url(../assets/img/spinner.gif);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 84, ../scss/screen/_main.scss */
#cover {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #595959;
  z-index: 1000;
}

/* line 95, ../scss/screen/_main.scss */
#preloader {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  z-index: 1001;
}

/* line 105, ../scss/screen/_main.scss */
#main {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 114, ../scss/screen/_main.scss */
.key-btn {
  display: none;
  position: absolute;
  bottom: 150px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  z-index: 100;
}
/* line 123, ../scss/screen/_main.scss */
.key-btn .circle {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 80px;
  height: 80px;
  background-image: url(../assets/img/svg/circle1.svg);
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  -moz-transition: -moz-transform 0.2s ease-in;
  -ms-transition: -ms-transform 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
}
/* line 134, ../scss/screen/_main.scss */
.key-btn .circle2 {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 80px;
  height: 80px;
  background-image: url(../assets/img/svg/circle2.svg);
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-in;
  -ms-transition: -ms-transform 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
}
/* line 145, ../scss/screen/_main.scss */
.key-btn .circle3 {
  position: absolute;
  left: 3px;
  top: 3px;
  width: 80px;
  height: 80px;
  background-image: url(../assets/img/svg/circle3.svg);
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.4s ease-in;
  -moz-transition: -moz-transform 0.4s ease-in;
  -ms-transition: -ms-transform 0.4s ease-in;
  -o-transition: -o-transform 0.4s ease-in;
  transition: transform 0.4s ease-in;
}
/* line 156, ../scss/screen/_main.scss */
.key-btn .icon {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 50px;
  height: 50px;
}
/* line 165, ../scss/screen/_main.scss */
.key-btn:hover .circle {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 169, ../scss/screen/_main.scss */
.key-btn:hover .circle2 {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
/* line 173, ../scss/screen/_main.scss */
.key-btn:hover .circle3 {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 179, ../scss/screen/_main.scss */
#key-right {
  right: 50px;
}
/* line 182, ../scss/screen/_main.scss */
#key-right .icon {
  background-image: url(../assets/img/svg/icon_right.svg);
}

/* line 187, ../scss/screen/_main.scss */
#key-left {
  left: 50px;
}
/* line 190, ../scss/screen/_main.scss */
#key-left .icon {
  background-image: url(../assets/img/svg/icon_left.svg);
}

/* line 195, ../scss/screen/_main.scss */
#info-btn {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 30px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
/* line 205, ../scss/screen/_main.scss */
#info-btn .icon {
  position: absolute;
  top: 13px;
  left: 20px;
  width: 23px;
  height: 36px;
  background-image: url(../assets/img/svg/info_icon.svg);
  background-repeat: no-repeat;
}
/* line 215, ../scss/screen/_main.scss */
#info-btn .circle {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 55px;
  height: 55px;
  background-image: url(../assets/img/svg/info_btn.svg);
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  -moz-transition: -moz-transform 0.2s ease-in;
  -ms-transition: -ms-transform 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
}
/* line 226, ../scss/screen/_main.scss */
#info-btn .circle2 {
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url(../assets/img/svg/info_shadow.svg);
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-in;
  -ms-transition: -ms-transform 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
}
/* line 236, ../scss/screen/_main.scss */
#info-btn:hover .circle {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 240, ../scss/screen/_main.scss */
#info-btn:hover .circle2 {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 246, ../scss/screen/_main.scss */
#utils {
  display: none;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 260px;
  height: 50px;
  padding: 35px 5px 5px 60px;
  z-index: 100;
}
/* line 256, ../scss/screen/_main.scss */
#utils svg {
  position: absolute;
  left: 0px;
  top: 0px;
}

/* line 263, ../scss/screen/_main.scss */
#share-btns {
  display: inline-block;
  position: relative;
  top: -5px;
}

/* line 269, ../scss/screen/_main.scss */
.fb-like {
  position: relative;
  top: -5px;
}

/* line 274, ../scss/screen/_main.scss */
#sound-btn {
  display: inline-block;
  position: relative;
  width: 26px;
  height: 26px;
  margin: 3px;
  margin-top: 12px;
  margin-right: 10px;
  background-image: url(../assets/img/svg/sound_btn.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 10;
}
/* line 287, ../scss/screen/_main.scss */
#sound-btn.off {
  background-position: -29px 0px;
}

/* line 292, ../scss/screen/_main.scss */
#warning {
  display: none;
  position: absolute;
  top: 20px;
  left: 300px;
  min-width: 300px;
  padding: 20px;
  color: white;
  font-size: 24px;
  border-radius: 20px;
  background: #FF3612;
}

/* line 305, ../scss/screen/_main.scss */
#vignette {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .5;
  cursor: pointer;
  z-index: 200;
}

/* line 317, ../scss/screen/_main.scss */
#popupHolder {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
/* line 326, ../scss/screen/_main.scss */
#popupHolder .popup {
  display: none;
  position: relative;
  width: 400px;
  height: 300px;
  margin: 50px auto;
  padding: 30px;
  background: white;
  border-radius: 20px;
  color: gray;
  font-size: 24px;
  z-index: 202;
}

/* line 1, ../scss/screen/_intro.scss */
#introView {
  display: none;
  cursor: pointer;
  top: 50%;
  left: 50%;
  width: 0px;
  margin-top: -250px;
  height: 500px;
  font-family: "Fredoka One", Arial, sans-serif;
}
/* line 13, ../scss/screen/_intro.scss */
#introView h1 {
  position: absolute;
  width: 700px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -300px;
  color: #595959;
  font-size: 90px;
  font-style: normal;
  font-weight: normal;
  font-family: StorefrontPro, Helvetica, Arial, sans-serif;
  z-index: 1;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
/* line 29, ../scss/screen/_intro.scss */
#introView h1 small {
  font-size: 35px;
  font-weight: bold;
}
/* line 36, ../scss/screen/_intro.scss */
#introView p {
  display: none;
  position: absolute;
  margin-left: -60px;
  margin-top: 100px;
  width: 120px;
  top: 50%;
  left: 50%;
  font-weight: bold;
  color: #F2F2F2;
  z-index: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -ms-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
/* line 49, ../scss/screen/_intro.scss */
#introView p:hover {
  opacity: .5;
}
/* line 54, ../scss/screen/_intro.scss */
#introView .intro-cloud {
  position: absolute;
}
/* line 58, ../scss/screen/_intro.scss */
#introView .cloud-1 {
  width: 203px;
  height: 81px;
  background-image: url(../assets/img/intro/cloud-1.svg);
}
/* line 64, ../scss/screen/_intro.scss */
#introView .cloud-2 {
  width: 150px;
  height: 50px;
  background-image: url(../assets/img/intro/cloud-2.svg);
}
/* line 70, ../scss/screen/_intro.scss */
#introView .tree {
  position: absolute;
  bottom: 100%;
}
/* line 75, ../scss/screen/_intro.scss */
#introView .bush-1 {
  width: 83px;
  height: 30px;
  background-image: url(../assets/img/intro/bush-1.svg);
}
/* line 81, ../scss/screen/_intro.scss */
#introView .tree-1 {
  width: 53px;
  height: 81px;
  background-image: url(../assets/img/intro/tree-1.svg);
}
/* line 87, ../scss/screen/_intro.scss */
#introView .tree-2 {
  width: 33px;
  height: 51px;
  background-image: url(../assets/img/intro/tree-2.svg);
}
/* line 93, ../scss/screen/_intro.scss */
#introView .tree-3 {
  width: 33px;
  height: 41px;
  background-image: url(../assets/img/intro/tree-3.svg);
}
/* line 100, ../scss/screen/_intro.scss */
#introView .tree-4 {
  width: 33px;
  height: 51px;
  background-image: url(../assets/img/intro/tree-4.svg);
}
/* line 106, ../scss/screen/_intro.scss */
#introView .tree-5 {
  width: 33px;
  height: 51px;
  background-image: url(../assets/img/intro/tree-5.svg);
}
/* line 112, ../scss/screen/_intro.scss */
#introView .tree-6 {
  width: 20px;
  height: 30px;
  background-image: url(../assets/img/intro/tree-6.svg);
}
/* line 118, ../scss/screen/_intro.scss */
#introView .tree-7 {
  width: 18px;
  height: 22px;
  background-image: url(../assets/img/intro/tree-7.svg);
}
/* line 124, ../scss/screen/_intro.scss */
#introView .grass-1 {
  width: 95px;
  height: 22px;
  background-image: url(../assets/img/intro/grass.svg);
}
/* line 131, ../scss/screen/_intro.scss */
#introView .ground {
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -2000px;
  width: 4000px;
}

/* line 140, ../scss/screen/_intro.scss */
#introBg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* line 147, ../scss/screen/_intro.scss */
#introGround1 {
  height: 180px;
  background-color: #808080;
  background-repeat: repeat-x;
}

/* line 154, ../scss/screen/_intro.scss */
#introGround1a {
  position: absolute;
  height: 1000px;
  width: 100%;
  background-color: #808080;
  background-image: url(../assets/img/intro/ground-shading.svg);
  background-repeat: repeat-x;
}

/* line 163, ../scss/screen/_intro.scss */
#introGround2 {
  height: 200px;
  background-color: #D0D0D0;
}

/* line 168, ../scss/screen/_intro.scss */
#introGround3 {
  height: 250px;
  background-color: #C5C5C5;
}

/* line 173, ../scss/screen/_intro.scss */
#introGround4 {
  height: 300px;
  background-color: #D8D8D8;
}

/* line 178, ../scss/screen/_intro.scss */
#introGround5 {
  height: 350px;
  background-color: #E9E9E9;
}

/* line 9, ../scss/screen/_scenery.scss */
#camera {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  -webkit-perspective: 500px;
  perspective: 500px;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 28, ../scss/screen/_scenery.scss */
#scene {
  position: absolute;
  bottom: 0px;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 35, ../scss/screen/_scenery.scss */
#planet1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 4435px;
  height: 1200px;
  -moz-transform-style: preserve-3d;
  -webkit-transform: translateZ(-1000px);
  -moz-transform: translateZ(-1000px);
  -ms-transform: translateZ(-1000px);
  -o-transform: translateZ(-1000px);
  transform: translateZ(-1000px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 48, ../scss/screen/_scenery.scss */
#cube1 {
  position: absolute;
  top: -50px;
  width: 4435px;
  height: 1200px;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 58, ../scss/screen/_scenery.scss */
#cube1 .plane {
  position: absolute;
  background-repeat: repeat-x;
  background-position: left bottom;
  -webkit-backface-visibility: hidden;
}
/* line 66, ../scss/screen/_scenery.scss */
#cube1 .front {
  width: 4435px;
  height: 1200px;
  -webkit-transform: rotateY(0deg) translateZ(1000px);
  -moz-transform: rotateY(0deg) translateZ(1000px);
  -ms-transform: rotateY(0deg) translateZ(1000px);
  -o-transform: rotateY(0deg) translateZ(1000px);
  transform: rotateY(0deg) translateZ(1000px);
}
/* line 73, ../scss/screen/_scenery.scss */
#cube1 .right {
  display: none;
  width: 2000px;
  height: 1200px;
  -webkit-transform: rotateY(90deg) translateZ(3435px);
  -moz-transform: rotateY(90deg) translateZ(3435px);
  -ms-transform: rotateY(90deg) translateZ(3435px);
  -o-transform: rotateY(90deg) translateZ(3435px);
  transform: rotateY(90deg) translateZ(3435px);
  background-image: url(../assets/img/svg/terrain.svg);
  background-repeat: no-repeat;
}
/* line 82, ../scss/screen/_scenery.scss */
#cube1 .left {
  display: none;
  width: 2000px;
  height: 1200px;
  -webkit-transform: rotateY(90deg) translateZ(-1000px);
  -moz-transform: rotateY(90deg) translateZ(-1000px);
  -ms-transform: rotateY(90deg) translateZ(-1000px);
  -o-transform: rotateY(90deg) translateZ(-1000px);
  transform: rotateY(90deg) translateZ(-1000px);
  background-image: url(../assets/img/svg/terrain.svg);
  background-repeat: no-repeat;
}
/* line 91, ../scss/screen/_scenery.scss */
#cube1 .back {
  width: 4435px;
  height: 1200px;
  -webkit-transform: rotateY(-180deg) translateZ(1000px);
  -moz-transform: rotateY(-180deg) translateZ(1000px);
  -ms-transform: rotateY(-180deg) translateZ(1000px);
  -o-transform: rotateY(-180deg) translateZ(1000px);
  transform: rotateY(-180deg) translateZ(1000px);
}
/* line 98, ../scss/screen/_scenery.scss */
#cube1 .back2 {
  display: none;
  width: 4435px;
  height: 1200px;
  -webkit-transform: rotateY(0deg) translateZ(-1000px);
  -moz-transform: rotateY(0deg) translateZ(-1000px);
  -ms-transform: rotateY(0deg) translateZ(-1000px);
  -o-transform: rotateY(0deg) translateZ(-1000px);
  transform: rotateY(0deg) translateZ(-1000px);
  background-image: url(../assets/img/svg/terrain.svg);
  background-repeat: no-repeat;
}
/* line 107, ../scss/screen/_scenery.scss */
#cube1 .bottom {
  width: 4435px;
  height: 2000px;
  -webkit-transform: rotateX(-90deg) translateZ(200px);
  -moz-transform: rotateX(-90deg) translateZ(200px);
  -ms-transform: rotateX(-90deg) translateZ(200px);
  -o-transform: rotateX(-90deg) translateZ(200px);
  transform: rotateX(-90deg) translateZ(200px);
  background: green;
}

/* line 116, ../scss/screen/_scenery.scss */
#parallaxA {
  position: absolute;
  overflow: hidden;
  width: 4435px;
  height: 2000px;
  z-index: 1;
}
/* line 123, ../scss/screen/_scenery.scss */
#parallaxA canvas {
  position: absolute;
}

/* line 130, ../scss/screen/_scenery.scss */
#cloudsA, #cloudsB {
  position: absolute;
  left: 0px;
  width: 4435px;
  height: 1200px;
  background-repeat: repeat-x;
  background-image: url(../assets/img/terrain/clouds.svg);
  opacity: .5;
}

/* line 143, ../scss/screen/_scenery.scss */
#logoHolder *, #ground * {
  -webkit-transition: fill 1s linear;
  -moz-transition: fill 1s linear;
  -ms-transition: fill 1s linear;
  -o-transition: fill 1s linear;
  transition: fill 1s linear;
}

/* line 148, ../scss/screen/_scenery.scss */
.sky {
  position: absolute;
}

/* line 152, ../scss/screen/_scenery.scss */
.hills0, .hills1, .hills2, .hills3, .hills4, .hills5, .trees1, .trees2, .trees3, .trees4, .trees5, .bush5, .sky path, .util-bg {
  -webkit-transition: fill 1s linear;
  -moz-transition: fill 1s linear;
  -ms-transition: fill 1s linear;
  -o-transition: fill 1s linear;
  transition: fill 1s linear;
}

/* line 157, ../scss/screen/_scenery.scss */
.css {
  background-color: #aae6f2;
}
/* line 161, ../scss/screen/_scenery.scss */
.css #logoHolder svg * {
  fill: white;
}
/* line 165, ../scss/screen/_scenery.scss */
.css #logoHolder h2 {
  color: white;
}
/* line 170, ../scss/screen/_scenery.scss */
.css .util-bg {
  fill: #7E9E00;
}
/* line 174, ../scss/screen/_scenery.scss */
.css .sky path {
  fill: #A7E3EE;
}
/* line 178, ../scss/screen/_scenery.scss */
.css .hills0, .css .trees0 {
  fill: #81E1EA;
}
/* line 182, ../scss/screen/_scenery.scss */
.css .hills1, .css .trees1 {
  fill: #54D6D9;
}
/* line 186, ../scss/screen/_scenery.scss */
.css .hills2, .css .trees2 {
  fill: #00B4C6;
}
/* line 190, ../scss/screen/_scenery.scss */
.css .hills3, .css .trees3 {
  fill: #35C7D1;
}
/* line 194, ../scss/screen/_scenery.scss */
.css .hills4 {
  fill: #9fbc2e;
}
/* line 198, ../scss/screen/_scenery.scss */
.css .hills5 {
  fill: #97b32b;
}
/* line 202, ../scss/screen/_scenery.scss */
.css .trees5 {
  fill: #007728;
}
/* line 206, ../scss/screen/_scenery.scss */
.css .bush5 {
  fill: #00B342;
}

/* line 211, ../scss/screen/_scenery.scss */
.night {
  background-color: #003e4f;
}
/* line 215, ../scss/screen/_scenery.scss */
.night #logoHolder svg * {
  fill: white;
}
/* line 219, ../scss/screen/_scenery.scss */
.night #logoHolder h2 {
  color: white;
}
/* line 224, ../scss/screen/_scenery.scss */
.night .sky path {
  fill: #003C4D;
}
/* line 228, ../scss/screen/_scenery.scss */
.night .hills0, .night .trees0 {
  fill: #528E94;
}
/* line 232, ../scss/screen/_scenery.scss */
.night .hills1, .night .trees1 {
  fill: #338183;
}
/* line 236, ../scss/screen/_scenery.scss */
.night .hills2, .night .trees2 {
  fill: #006570;
}
/* line 240, ../scss/screen/_scenery.scss */
.night .hills3, .night .trees3 {
  fill: #20757B;
}
/* line 244, ../scss/screen/_scenery.scss */
.night .hills4 {
  fill: #3F6070;
}
/* line 248, ../scss/screen/_scenery.scss */
.night .hills5 {
  fill: #293E49;
}
/* line 252, ../scss/screen/_scenery.scss */
.night .trees5 {
  fill: #002029;
}
/* line 256, ../scss/screen/_scenery.scss */
.night .bush5 {
  fill: #00B342;
}

/* line 262, ../scss/screen/_scenery.scss */
.space {
  background-color: #001A21;
}
/* line 265, ../scss/screen/_scenery.scss */
.space .sky path {
  fill: #00181F;
}

/* line 2, ../scss/screen/_sections.scss */
section {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 110;
}

/* line 14, ../scss/screen/_sections.scss */
article {
  display: none;
  position: absolute;
  top: 100px;
  left: 100px;
  max-width: 450px;
  padding: 20px;
  font-size: 100%;
  line-height: 24px;
  color: #333;
  z-index: 150;
}
/* line 26, ../scss/screen/_sections.scss */
article h3 {
  color: #999;
  line-height: 32px;
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 10px;
}
/* line 34, ../scss/screen/_sections.scss */
article.section1 {
  background: rgba(250, 250, 250, 0.5);
}
/* line 38, ../scss/screen/_sections.scss */
article.section2 {
  background: rgba(224, 233, 237, 0.5);
}
/* line 42, ../scss/screen/_sections.scss */
article.section3 {
  background: rgba(224, 233, 237, 0.5);
}
/* line 46, ../scss/screen/_sections.scss */
article.section4 {
  color: white;
  background: rgba(0, 0, 0, 0.5);
}
/* line 51, ../scss/screen/_sections.scss */
article.section5 {
  color: white;
  background: rgba(0, 0, 0, 0.5);
}
/* line 56, ../scss/screen/_sections.scss */
article.section6 {
  color: white;
  background: rgba(0, 0, 0, 0.5);
}

/* line 74, ../scss/screen/_sections.scss */
.sky {
  width: 100%;
}

/* line 78, ../scss/screen/_sections.scss */
.section1, .section2, .section3, .section4, .section5, .section6, .section7, .section8 {
  display: none;
}

/* line 82, ../scss/screen/_sections.scss */
.god-bubble {
  color: white;
  background: #595959;
}

/* line 87, ../scss/screen/_sections.scss */
.css-bubble {
  background: #FFE6E8;
}

@-webkit-keyframes blink {
  /* line 92, ../scss/screen/_sections.scss */
  from {
    opacity: 1;
  }

  /* line 95, ../scss/screen/_sections.scss */
  to {
    opacity: 0;
  }
}

/* line 100, ../scss/screen/_sections.scss */
.blink {
  -webkit-animation: blink .5s infinite none;
}

/* line 104, ../scss/screen/_sections.scss */
#first-bubble {
  top: 20%;
  margin-left: -450px;
  height: 90px;
  width: 900px;
  max-width: 100%;
  padding: 50px 20px 0px;
  font-family: "PressStart", courier, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: green;
  border-radius: 0px;
  background: rgba(0, 0, 0, 0.9);
  z-index: 201;
}

/* line 121, ../scss/screen/_sections.scss */
#heartHolder {
  position: absolute;
  left: 1800px;
  top: 200px;
  z-index: 102;
  overflow: visible;
}
/* line 129, ../scss/screen/_sections.scss */
#heartHolder path:hover {
  opacity: .5;
}

/* line 135, ../scss/screen/_sections.scss */
#mistHolder {
  display: none;
  position: absolute;
  left: 0px;
  top: 450px;
  width: 100%;
  height: 400px;
  background-image: url(../assets/img/svg/mist.svg);
  background-repeat: repeat-x;
  -webkit-blend-mode: soft-light;
}

/* line 147, ../scss/screen/_sections.scss */
#lightning {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 0;
}

/* line 1, ../scss/screen/_characters.scss */
.character {
  position: absolute;
}

/* line 5, ../scss/screen/_characters.scss */
#charDIV {
  top: 500px;
  width: 80px;
  height: 80px;
  background-color: #FFAB56;
  background-repeat: no-repeat;
  background-image: url(../assets/img/character/div.jpg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(155px);
  -moz-transform: translateZ(155px);
  -ms-transform: translateZ(155px);
  -o-transform: translateZ(155px);
  transform: translateZ(155px);
}

/* line 16, ../scss/screen/_characters.scss */
#charCSS {
  top: 550px;
  left: 2000px;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background: #FFAD90;
  background-repeat: no-repeat;
  background-image: url(../assets/img/character/css.png);
  z-index: 100;
  cursor: pointer;
  -webkit-transition: box-shadow 0.5s linear, border-radius 0.5s linear;
  -moz-transition: box-shadow 0.5s linear, border-radius 0.5s linear;
  -ms-transition: box-shadow 0.5s linear, border-radius 0.5s linear;
  -o-transition: box-shadow 0.5s linear, border-radius 0.5s linear;
  transition: box-shadow 0.5s linear, border-radius 0.5s linear;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
}
/* line 30, ../scss/screen/_characters.scss */
#charCSS:hover {
  -webkit-box-shadow: 0px 0px 0px 5px #d68989;
  -moz-box-shadow: 0px 0px 0px 5px #d68989;
  box-shadow: 0px 0px 0px 5px #d68989;
  border-radius: 20px;
}

@-webkit-keyframes rotate {
  /* line 37, ../scss/screen/_characters.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 38, ../scss/screen/_characters.scss */
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes swing {
  /* line 42, ../scss/screen/_characters.scss */
  0% {
    -webkit-transform: rotate(-10deg);
  }

  /* line 43, ../scss/screen/_characters.scss */
  100% {
    -webkit-transform: rotate(20deg);
  }
}

/* line 46, ../scss/screen/_characters.scss */
#charSVG {
  top: 350px;
  left: 3000px;
  z-index: 100;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
}
/* line 53, ../scss/screen/_characters.scss */
#charSVG .face {
  position: absolute;
  top: 138px;
  left: 155px;
  width: 176px;
  height: 94px;
  background-image: url(../assets/img/character/svg_face.png);
  background-repeat: no-repeat;
}
/* line 66, ../scss/screen/_characters.scss */
#charSVG.animating #circle3, #charSVG.animating #circle2, #charSVG.animating #circle1 {
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
}
/* line 70, ../scss/screen/_characters.scss */
#charSVG.animating #circle1 {
  -webkit-animation: rotate 5s infinite linear;
}
/* line 74, ../scss/screen/_characters.scss */
#charSVG.animating #circle2 {
  -webkit-animation: rotate 7s infinite linear;
}
/* line 78, ../scss/screen/_characters.scss */
#charSVG.animating #circle3 {
  -webkit-animation: rotate 10s infinite linear;
}

/* line 87, ../scss/screen/_characters.scss */
#charTransform {
  position: absolute;
  width: 200px;
  height: 200px;
  -webkit-transform: translate3d(4800px, -600px, 4300px);
  -moz-transform: translate3d(4800px, -600px, 4300px);
  -ms-transform: translate3d(4800px, -600px, 4300px);
  -o-transform: translate3d(4800px, -600px, 4300px);
  transform: translate3d(4800px, -600px, 4300px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}
/* line 96, ../scss/screen/_characters.scss */
#charTransform .face {
  width: 200px;
  height: 200px;
  background-image: url(../assets/img/character/3d_face.png);
  background-repeat: no-repeat;
}
/* line 103, ../scss/screen/_characters.scss */
#charTransform .plane {
  position: absolute;
  background-position: left top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url(../assets/img/character/char3d/bg.png);
  -moz-transform-style: preserve-3d;
}
/* line 113, ../scss/screen/_characters.scss */
#charTransform .front {
  width: 200px;
  height: 200px;
  -webkit-transform: rotateY(0deg) translateZ(100px);
  -moz-transform: rotateY(0deg) translateZ(100px);
  -ms-transform: rotateY(0deg) translateZ(100px);
  -o-transform: rotateY(0deg) translateZ(100px);
  transform: rotateY(0deg) translateZ(100px);
}
/* line 120, ../scss/screen/_characters.scss */
#charTransform .right {
  width: 200px;
  height: 200px;
  -webkit-transform: rotateY(90deg) translateZ(100px);
  -moz-transform: rotateY(90deg) translateZ(100px);
  -ms-transform: rotateY(90deg) translateZ(100px);
  -o-transform: rotateY(90deg) translateZ(100px);
  transform: rotateY(90deg) translateZ(100px);
}
/* line 127, ../scss/screen/_characters.scss */
#charTransform .left {
  width: 200px;
  height: 200px;
  -webkit-transform: rotateY(-90deg) translateZ(100px);
  -moz-transform: rotateY(-90deg) translateZ(100px);
  -ms-transform: rotateY(-90deg) translateZ(100px);
  -o-transform: rotateY(-90deg) translateZ(100px);
  transform: rotateY(-90deg) translateZ(100px);
}
/* line 134, ../scss/screen/_characters.scss */
#charTransform .back {
  width: 200px;
  height: 200px;
  -webkit-transform: rotateY(180deg) translateZ(100px);
  -moz-transform: rotateY(180deg) translateZ(100px);
  -ms-transform: rotateY(180deg) translateZ(100px);
  -o-transform: rotateY(180deg) translateZ(100px);
  transform: rotateY(180deg) translateZ(100px);
}
/* line 141, ../scss/screen/_characters.scss */
#charTransform .bottom {
  width: 200px;
  height: 200px;
  -webkit-transform: rotateX(-90deg) translateZ(100px);
  -moz-transform: rotateX(-90deg) translateZ(100px);
  -ms-transform: rotateX(-90deg) translateZ(100px);
  -o-transform: rotateX(-90deg) translateZ(100px);
  transform: rotateX(-90deg) translateZ(100px);
}
/* line 148, ../scss/screen/_characters.scss */
#charTransform .top {
  width: 200px;
  height: 200px;
  -webkit-transform: rotateX(90deg) translateZ(100px);
  -moz-transform: rotateX(90deg) translateZ(100px);
  -ms-transform: rotateX(90deg) translateZ(100px);
  -o-transform: rotateX(90deg) translateZ(100px);
  transform: rotateX(90deg) translateZ(100px);
}

/* line 156, ../scss/screen/_characters.scss */
#charCanvas {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 163, ../scss/screen/_characters.scss */
#charWebgl {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 169, ../scss/screen/_characters.scss */
#charWebgl canvas {
  width: 100%;
  height: 100%;
}

@-webkit-keyframes bob {
  /* line 176, ../scss/screen/_characters.scss */
  0%, 100% {
    -webkit-transform: translateY(0px);
  }

  /* line 180, ../scss/screen/_characters.scss */
  50% {
    -webkit-transform: translateY(-100px);
  }
}

/* line 185, ../scss/screen/_characters.scss */
#charBlend {
  display: none;
  top: 450px;
  left: 1200px;
  width: 200px;
  height: 200px;
  background: url(../assets/img/character/ghost.svg);
  z-index: 100;
  -webkit-transition: all 2s ease-out;
  -webkit-blend-mode: multiply;
  -webkit-animation: bob ease-in-out 3s infinite;
}
/* line 197, ../scss/screen/_characters.scss */
#charBlend .face {
  position: absolute;
  top: 25px;
  left: 7px;
  width: 81px;
  height: 55px;
  background: url(../assets/img/character/ghost_face.png);
  background-repeat: no-repeat;
}

@-webkit-keyframes wave {
  /* line 209, ../scss/screen/_characters.scss */
  0%, 100% {
    -webkit-filter: custom(url(../assets/shaders/flag.vs) url(../assets/shaders/flag.fs), 1 50 filter-box, transform rotateY(0deg) rotateX(-10deg) rotateZ(-50deg) scale(0.6));
  }

  /* line 215, ../scss/screen/_characters.scss */
  50% {
    -webkit-filter: custom(url(../assets/shaders/flag.vs) url(../assets/shaders/flag.fs), 1 50 filter-box, transform rotateY(0deg) rotateX(30deg) rotateZ(60deg) scale(0.6));
  }
}

/* line 222, ../scss/screen/_characters.scss */
#charShader {
  top: 350px;
  left: 2300px;
  width: 250px;
  height: 400px;
  background: url(../assets/img/character/shader_face.svg);
  -webkit-filter: custom(url(../assets/shaders/flag.vs) url(../assets/shaders/flag.fs), 1 50 filter-box, transform rotateY(0deg) rotateX(-10deg) rotateZ(-50deg) scale(0.6));
  -webkit-transition: -webkit-filter ease-in-out 1s;
  cursor: pointer;
  z-index: 500;
}
/* line 235, ../scss/screen/_characters.scss */
#charShader:hover, #charShader.animating {
  -webkit-animation: wave ease-in-out 3s infinite;
}
