/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Righteous;
  src: url(../fonts/Righteous-Regular.ttf);
}

@font-face {
  font-family: FredokaOne;
  src: url(../fonts/FredokaOne-Regular.ttf);
}

/* line 1, ../scss/screen/_main.scss */
body {
  margin: 0px;
  background-color: #f2f2f2;
  font-family: "Fredoka One", Arial, sans-serif;
  color: #595959;
}

/* line 8, ../scss/screen/_main.scss */
header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

/* line 16, ../scss/screen/_main.scss */
section {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 22, ../scss/screen/_main.scss */
#logoHolder {
  position: relative;
  margin: 10px 20px;
  z-index: 100;
}
/* line 27, ../scss/screen/_main.scss */
#logoHolder h2 {
  padding: 0 0 0 50px;
  height: 50px;
  color: #d5d5d5;
  line-height: 12px;
  font-size: 24px;
  font-family: "Righteous", sans-serif;
}
/* line 35, ../scss/screen/_main.scss */
#logoHolder h2 small {
  font-size: 12px;
}
/* line 40, ../scss/screen/_main.scss */
#logoHolder svg {
  position: absolute;
}
/* line 45, ../scss/screen/_main.scss */
#logoHolder.white svg * {
  fill: white;
}
/* line 49, ../scss/screen/_main.scss */
#logoHolder.white h2 {
  color: white;
}

/* line 55, ../scss/screen/_main.scss */
.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -50px 0 0 -50px;
  width: 100px;
  height: 100px;
  z-index: 100;
  background: url(../img/spinner.gif) no-repeat center center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 67, ../scss/screen/_main.scss */
#cover {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #595959;
  z-index: 100;
}

/* line 76, ../scss/screen/_main.scss */
#preloader {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
}

/* line 85, ../scss/screen/_main.scss */
#main {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 94, ../scss/screen/_main.scss */
#camera {
  display: none;
  -webkit-perspective: 500px;
  perspective: 500px;
}

/* line 1, ../scss/screen/_intro.scss */
#introView {
  display: none;
}
/* line 4, ../scss/screen/_intro.scss */
#introView h1 {
  position: absolute;
  width: 600px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -300px;
  color: #595959;
  font-size: 90px;
  font-style: normal;
  font-weight: normal;
  font-family: StorefrontPro, Helvetica, Arial, sans-serif;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
/* line 19, ../scss/screen/_intro.scss */
#introView h1 small {
  font-size: 35px;
}
/* line 24, ../scss/screen/_intro.scss */
#introView p {
  display: none;
  position: absolute;
  margin-left: -60px;
  margin-top: 100px;
  width: 120px;
  top: 50%;
  left: 50%;
}
