@font-face {
  font-family: Righteous;
  src: url(../assets/fonts/Righteous-Regular.ttf);
}

@font-face {
  font-family: FredokaOne;
  src: url(../assets/fonts/FredokaOne-Regular.ttf);
}

@font-face {
  font-family: PressStart;
  src: url(../assets/fonts/PressStart2P-Regular.ttf);
}

@font-face {
  font-family: OpenSans;
  font-weight: normal;
  src: url(../assets/fonts/OpenSansPro-Regular.ttf);
}

@font-face {
  font-family: OpenSans;
  font-weight: bold;
  src: url(../assets/fonts/OpenSansPro-Bold.ttf);
}

/* line 6, ../scss/static.scss */
body {
  color: #595959;
  font-family: OpenSans, Helvetica, Arial, sans-serif;
  background: #daecef;
}

/* line 12, ../scss/static.scss */
#logoHolder {
  position: relative;
  margin: 20px;
  z-index: 200;
  pointer-events: none;
}
/* line 18, ../scss/static.scss */
#logoHolder h2 {
  padding: 0 0 0 50px;
  height: 50px;
  color: white;
  line-height: 12px;
  font-size: 24px;
  font-family: "Righteous", sans-serif;
}
/* line 26, ../scss/static.scss */
#logoHolder h2 small {
  font-size: 12px;
}
/* line 31, ../scss/static.scss */
#logoHolder svg {
  position: absolute;
}
/* line 33, ../scss/static.scss */
#logoHolder svg * {
  fill: white;
}

/* line 39, ../scss/static.scss */
canvas {
  display: none;
}

/* line 43, ../scss/static.scss */
h1 {
  position: absolute;
  top: -40px;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  font-family: StorefrontPro, Helvetica, Arial, sans-serif;
  font-size: 70px;
}
/* line 52, ../scss/static.scss */
h1 small {
  position: relative;
  top: 50px;
  font-size: 30px;
}

/* line 59, ../scss/static.scss */
#warning {
  display: none;
}

/* line 63, ../scss/static.scss */
#popupHolder {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 200;
}

/* line 72, ../scss/static.scss */
#vignette {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/* line 81, ../scss/static.scss */
.popup {
  display: none;
}

/* line 85, ../scss/static.scss */
.sky {
  position: absolute;
}

/* line 89, ../scss/static.scss */
#popup-support {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 200;
  padding: 10px;
  margin-left: -200px;
  margin-top: -150px;
  color: white;
  font-size: 18px;
  background: #361d41;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.4);
}
/* line 104, ../scss/static.scss */
#popup-support a {
  color: #00afdf;
  text-decoration: none;
}
/* line 108, ../scss/static.scss */
#popup-support a:hover {
  opacity: 0.5;
}
/* line 113, ../scss/static.scss */
#popup-support .dotted {
  padding: 20px;
  height: 190;
  border: 3px dashed #682464;
}
/* line 119, ../scss/static.scss */
#popup-support h3 {
  position: absolute;
  top: -40px;
  width: 100px;
  padding: 10px 20px;
  color: #361d41;
  font-family: "Fredoka One", Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 24px;
  background: red;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #64d0ee), color-stop(50%, #00b0da), color-stop(100%, #00b1e8));
  background: -webkit-linear-gradient(top, #64d0ee, #00b0da, #00b1e8);
  background: -moz-linear-gradient(top, #64d0ee, #00b0da, #00b1e8);
  background: -o-linear-gradient(top, #64d0ee, #00b0da, #00b1e8);
  background: -ms-linear-gradient(top, #64d0ee, #00b0da, #00b1e8);
  background: linear-gradient(top, #64d0ee, #00b0da, #00b1e8);
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

/* line 136, ../scss/static.scss */
#startCopy {
  display: none;
}

/* line 140, ../scss/static.scss */
#camera {
  display: none;
}

/* line 144, ../scss/static.scss */
#charSVG {
  display: none;
}

/* line 148, ../scss/static.scss */
blockquote {
  display: none;
}

/* line 152, ../scss/static.scss */
#main {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #daecef;
}

/* line 161, ../scss/static.scss */
#introView {
  width: 100%;
  height: 100%;
  background-image: url(../assets/img/svg/terrain.svg);
  background-repeat: no-repeat;
}

/* line 168, ../scss/static.scss */
.site-descriptor {
  display: none;
}
