@font-face {
  font-family: Righteous;
  src: url(../assets/fonts/Righteous-Regular.ttf);
}

@font-face {
  font-family: PressStart;
  src: url(../assets/fonts/PressStart2P-Regular.ttf);
}

@font-face {
  font-family: OpenSans;
  font-weight: normal;
  src: url(../assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpenSans;
  font-weight: bold;
  src: url(../assets/fonts/OpenSans-Bold.ttf);
}

/* line 18, ../scss/static.scss */
html, body {
  overflow-x: hidden;
}

/* line 22, ../scss/static.scss */
body {
  color: #595959;
  font-family: "Source Sans", OpenSans, Helvetica, Arial, sans-serif;
  background: #f2f2f2;
  margin: 0;
  padding: 0;
}

/* line 30, ../scss/static.scss */
.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -50px 0 0 -50px;
  padding: 40px 30px;
  width: 40px;
  height: 20px;
  font-family: "Fredoka One", Arial, sans-serif;
  text-align: center;
  color: white;
  z-index: 100;
  background-image: url(../assets/img/spinner.gif);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 48, ../scss/static.scss */
#portraitCover {
  display: none;
}

/* line 52, ../scss/static.scss */
#cover {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #595959;
  z-index: 1000;
}

/* line 63, ../scss/static.scss */
#preloader {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  z-index: 1001;
}

/* line 73, ../scss/static.scss */
#logoHolder {
  position: relative;
  margin: 20px;
  z-index: 200;
  pointer-events: none;
}
/* line 79, ../scss/static.scss */
#logoHolder h2 {
  padding: 0 0 0 50px;
  height: 50px;
  color: #d5d5d5;
  line-height: 12px;
  font-size: 24px;
  font-family: "Righteous", sans-serif;
}
/* line 87, ../scss/static.scss */
#logoHolder h2 small {
  font-size: 12px;
}
/* line 92, ../scss/static.scss */
#logoHolder svg {
  position: absolute;
}

/* line 100, ../scss/static.scss */
h1 {
  position: absolute;
  top: -40px;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  font-family: StorefrontPro, Helvetica, Arial, sans-serif;
  font-size: 70px;
}
/* line 109, ../scss/static.scss */
h1 small {
  position: relative;
  top: 50px;
  font-size: 30px;
}

/* line 116, ../scss/static.scss */
nav {
  display: none;
}

/* line 120, ../scss/static.scss */
#warning {
  display: none;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -225px;
  width: 450px;
  cursor: pointer;
  z-index: 200;
}

/* line 131, ../scss/static.scss */
#popupHolder {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 200;
}

/* line 141, ../scss/static.scss */
#vignette {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
}

/* line 148, ../scss/static.scss */
#supportMsg2 {
  display: none;
}

/* line 152, ../scss/static.scss */
#popup-support {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  width: 500px;
  height: 200;
  padding: 10px;
  margin-left: -250px;
  margin-top: -150px;
  color: white;
  font-size: 18px;
  line-height: 28px;
  background: #263f51;
  border-radius: 0px;
  border: none;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.4);
}
/* line 170, ../scss/static.scss */
#popup-support img {
  position: absolute;
  top: -50px;
  left: -50px;
}
/* line 176, ../scss/static.scss */
#popup-support a {
  color: #49799b;
  font-weight: bold;
  text-decoration: none;
}
/* line 181, ../scss/static.scss */
#popup-support a:hover {
  opacity: 1;
  text-decoration: underline;
}
/* line 187, ../scss/static.scss */
#popup-support .dotted {
  padding: 20px;
  padding-top: 40px;
  height: 135;
  border: 3px dashed #49799b;
}
/* line 194, ../scss/static.scss */
#popup-support .support-btn {
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
  padding: 15px 25px;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
}
/* line 204, ../scss/static.scss */
#popup-support .try-btn {
  min-width: 120px;
  color: #a0d3be;
  border-top: 2px solid #a0d3be;
  background-color: #214747;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #214747), color-stop(100%, #2f6361));
  background: -webkit-linear-gradient(bottom, #214747, #2f6361);
  background: -moz-linear-gradient(bottom, #214747, #2f6361);
  background: -o-linear-gradient(bottom, #214747, #2f6361);
  background: linear-gradient(bottom, #214747, #2f6361);
}
/* line 211, ../scss/static.scss */
#popup-support .try-btn:hover {
  opacity: 1.0;
  color: #fff;
  border-top: 2px solid #fff;
}
/* line 218, ../scss/static.scss */
#popup-support .dl-btn {
  width: 150px;
  color: #e5bf23;
  border-top: 2px solid #e5bf23;
  background-color: #802d0a;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #802d0a), color-stop(100%, #d14913));
  background: -webkit-linear-gradient(bottom, #802d0a, #d14913);
  background: -moz-linear-gradient(bottom, #802d0a, #d14913);
  background: -o-linear-gradient(bottom, #802d0a, #d14913);
  background: linear-gradient(bottom, #802d0a, #d14913);
}
/* line 225, ../scss/static.scss */
#popup-support .dl-btn:hover {
  opacity: 1.0;
  color: #fff;
  border-top: 2px solid #fff;
}

/* line 233, ../scss/static.scss */
#credits, #warning, .popup, #startCopy, #camera, #charSVG, blockquote, #paradeAboutBtns, #utils, .sky, canvas, #carouselHitArea, #slide1 {
  display: none;
}

/* line 237, ../scss/static.scss */
#main {
  position: relative;
  width: 900px;
  height: 6100px;
  margin: auto;
  background-position: center top;
  background-repeat: no-repeat;
}

/* line 246, ../scss/static.scss */
#introView {
  width: 100%;
  z-index: 200;
}
/* line 250, ../scss/static.scss */
#introView h1, #introView #introLoader {
  display: none;
}

/* line 256, ../scss/static.scss */
article h3 {
  color: #999;
  line-height: 32px;
  font-size: 32px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 10px;
}

/* line 266, ../scss/static.scss */
#article1 {
  display: block;
  position: absolute;
  max-width: 450px;
  padding: 20px;
  font-size: 100%;
  line-height: 24px;
  color: #333;
  z-index: 150;
  display: block;
  position: absolute;
  top: 305px;
  right: 0px;
  background: #f2f2f2;
}

/* line 275, ../scss/static.scss */
#article2 {
  display: block;
  position: absolute;
  max-width: 450px;
  padding: 20px;
  font-size: 100%;
  line-height: 24px;
  color: #333;
  z-index: 150;
  display: block;
  position: absolute;
  top: 850px;
  left: 50%;
  background: #daecef;
}
/* line 282, ../scss/static.scss */
#article2 h3 {
  color: #E2756D;
}

/* line 287, ../scss/static.scss */
#article3 {
  display: block;
  position: absolute;
  max-width: 450px;
  padding: 20px;
  font-size: 100%;
  line-height: 24px;
  color: #333;
  z-index: 150;
  display: block;
  position: absolute;
  top: 1600px;
  background: #daecef;
}
/* line 294, ../scss/static.scss */
#article3 h3 {
  color: #05C9BA;
}

/* line 299, ../scss/static.scss */
#article4 {
  display: block;
  position: absolute;
  max-width: 450px;
  padding: 20px;
  font-size: 100%;
  line-height: 24px;
  color: #333;
  z-index: 150;
  display: block;
  position: absolute;
  top: 2300px;
  color: white;
  background: black;
}
/* line 308, ../scss/static.scss */
#article4 h3 {
  color: #4EC3C7;
}

/* line 313, ../scss/static.scss */
#article5 {
  display: block;
  position: absolute;
  max-width: 450px;
  padding: 20px;
  font-size: 100%;
  line-height: 24px;
  color: #333;
  z-index: 150;
  display: block;
  position: absolute;
  top: 3050px;
  color: white;
  background: black;
}

/* line 324, ../scss/static.scss */
#article6 {
  display: block;
  position: absolute;
  max-width: 450px;
  padding: 20px;
  font-size: 100%;
  line-height: 24px;
  color: #333;
  z-index: 150;
  display: block;
  position: absolute;
  top: 3800px;
  color: white;
  background: black;
}
/* line 331, ../scss/static.scss */
#article6 h3 {
  color: #9b0097;
}

/* line 336, ../scss/static.scss */
#article7 {
  display: block;
  position: absolute;
  max-width: 450px;
  padding: 20px;
  font-size: 100%;
  line-height: 24px;
  color: #333;
  z-index: 150;
  display: block;
  position: absolute;
  top: 4600px;
  color: white;
  background: #003E4F;
}
/* line 343, ../scss/static.scss */
#article7 h3 {
  color: #29ABE2;
}

/* line 348, ../scss/static.scss */
#article8 {
  display: block;
  position: absolute;
  max-width: 450px;
  padding: 20px;
  font-size: 100%;
  line-height: 24px;
  color: #333;
  z-index: 150;
  display: block;
  position: absolute;
  top: 5400px;
  background: #DFDAEF;
}
/* line 354, ../scss/static.scss */
#article8 h3 {
  color: #D0A61D;
}

/* line 359, ../scss/static.scss */
#staticVisuals {
  position: absolute;
  top: 0px;
  width: 100%;
}

/* line 365, ../scss/static.scss */
section {
  position: relative;
  width: 100%;
  height: 768px;
  background-repeat: repeat-x;
  background-position: bottom center;
}

/* line 373, ../scss/static.scss */
#bgOne {
  background-image: url(../assets/img/static/bg1.png);
}
/* line 376, ../scss/static.scss */
#bgOne .div {
  position: absolute;
  bottom: 20px;
  left: 20%;
}

/* line 383, ../scss/static.scss */
#bgTwo {
  background-image: url(../assets/img/static/bg2.png);
}
/* line 386, ../scss/static.scss */
#bgTwo .div {
  position: absolute;
  bottom: 30px;
  left: 20%;
}
/* line 392, ../scss/static.scss */
#bgTwo .css {
  position: absolute;
  bottom: 20px;
  right: 20%;
}

/* line 399, ../scss/static.scss */
#bgThree {
  background-image: url(../assets/img/static/bg3.png);
}
/* line 402, ../scss/static.scss */
#bgThree .div {
  position: absolute;
  bottom: 30px;
  left: 20%;
  z-index: 1;
}
/* line 409, ../scss/static.scss */
#bgThree .svg {
  position: absolute;
  bottom: 20px;
  right: 20%;
  z-index: 0;
}

/* line 417, ../scss/static.scss */
#bgFour {
  background-image: url(../assets/img/static/bg4.png);
}
/* line 420, ../scss/static.scss */
#bgFour .div {
  position: absolute;
  bottom: 220px;
  left: 25%;
  width: 100px;
}
/* line 427, ../scss/static.scss */
#bgFour .transform {
  position: absolute;
  bottom: 10px;
  left: 20%;
}

/* line 434, ../scss/static.scss */
#bgFive {
  background-image: url(../assets/img/static/bg5.png);
  border-bottom: 3px solid white;
  border-top: 3px solid white;
}
/* line 439, ../scss/static.scss */
#bgFive .canvas {
  position: absolute;
  left: 50%;
  top: 30%;
  z-index: 0;
}
/* line 446, ../scss/static.scss */
#bgFive .div {
  position: absolute;
  bottom: 50px;
  left: 20%;
  z-index: 1;
}

/* line 454, ../scss/static.scss */
#bgSix {
  background-image: url(../assets/img/static/bg5.png);
}
/* line 456, ../scss/static.scss */
#bgSix .webgl {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
}
/* line 463, ../scss/static.scss */
#bgSix .div {
  position: absolute;
  right: 10%;
  bottom: 20px;
  z-index: 1;
}

/* line 471, ../scss/static.scss */
#bgSeven {
  background-image: url(../assets/img/static/bg6.png);
}
/* line 474, ../scss/static.scss */
#bgSeven .blend {
  position: absolute;
  right: 10%;
  bottom: 20px;
}
/* line 480, ../scss/static.scss */
#bgSeven .div {
  position: absolute;
  left: 10%;
  bottom: 20px;
}

/* line 487, ../scss/static.scss */
#bgEight {
  background-image: url(../assets/img/static/bg7.png);
}
/* line 490, ../scss/static.scss */
#bgEight .shader {
  position: absolute;
  right: 10%;
  bottom: 70px;
  z-index: 0;
}
/* line 497, ../scss/static.scss */
#bgEight .div {
  position: absolute;
  left: 10%;
  bottom: 20px;
  z-index: 1;
}

/* line 505, ../scss/static.scss */
#carouselHolder {
  overflow: hidden;
  text-align: center;
}

/* line 510, ../scss/static.scss */
.carousel-content {
  zoom: 1;
  display: inline-block;
  *display: inline;
  width: 460px;
  height: 460px;
  padding: 20px;
  margin: 10px;
  vertical-align: top;
  text-align: left;
  overflow: hidden;
  background: white;
}
/* line 523, ../scss/static.scss */
.carousel-content h3 {
  font-size: 32px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 30px;
}
/* line 530, ../scss/static.scss */
.carousel-content p {
  font-size: 20px;
  margin: 0;
  margin-bottom: 20px;
}

/* line 537, ../scss/static.scss */
#resolve {
  text-align: center;
}
/* line 540, ../scss/static.scss */
#resolve p {
  display: none;
}
/* line 544, ../scss/static.scss */
#resolve img {
  position: relative;
  display: block;
  margin: 100px auto 30px;
}
/* line 550, ../scss/static.scss */
#resolve a {
  color: #003E4F;
  text-decoration: none;
}
/* line 554, ../scss/static.scss */
#resolve a:hover {
  opacity: 0.5;
}

@media screen and (max-width: 900px) {
  /* line 561, ../scss/static.scss */
  .intro-title {
    display: block;
    position: relative;
    width: 90%;
    margin: auto;
  }

  /* line 568, ../scss/static.scss */
  #main {
    width: 100%;
  }

  /* line 573, ../scss/static.scss */
  article.section1 {
    top: 205px;
  }
  /* line 577, ../scss/static.scss */
  article.section2 {
    left: 0px;
  }
  /* line 581, ../scss/static.scss */
  article.section3 {
    left: 0px;
  }
  /* line 585, ../scss/static.scss */
  article.section4 {
    right: 0px;
  }
  /* line 589, ../scss/static.scss */
  article.section5 {
    right: 0px;
  }

  /* line 595, ../scss/static.scss */
  div .div {
    width: 30%;
  }
  /* line 599, ../scss/static.scss */
  div .css {
    width: 30%;
  }
  /* line 603, ../scss/static.scss */
  div .canvas {
    width: 50%;
  }
  /* line 607, ../scss/static.scss */
  div .webgl {
    width: 100%;
  }
  /* line 611, ../scss/static.scss */
  div .blend {
    width: 30%;
  }
  /* line 615, ../scss/static.scss */
  div .shader {
    width: 50%;
  }

  /* line 621, ../scss/static.scss */
  #bgThree .svg {
    width: 60%;
    right: 0px;
  }

  /* line 628, ../scss/static.scss */
  #bgFive .canvas {
    left: 30%;
  }

  /* line 634, ../scss/static.scss */
  #bgSix .webgl {
    top: 40%;
  }

  /* line 640, ../scss/static.scss */
  #bgFour .div {
    width: 100px;
  }

  /* line 645, ../scss/static.scss */
  .carousel-content {
    position: relative;
    width: auto;
    display: block;
  }
  /* line 650, ../scss/static.scss */
  .carousel-content img {
    position: absolute;
  }

  /* line 655, ../scss/static.scss */
  #logoHolder {
    visibility: hidden;
  }

  /* line 659, ../scss/static.scss */
  #warning {
    width: 100%;
    text-align: center;
    margin: 0;
    left: auto;
  }
  /* line 665, ../scss/static.scss */
  #warning img {
    width: 50%;
  }

  /* line 670, ../scss/static.scss */
  #popup-support {
    left: auto;
    top: auto;
    width: auto;
    margin-left: 0px;
    margin-top: 50px;
  }
}
