@font-face {
  font-family: Righteous;
  src: url(../assets/fonts/Righteous-Regular.ttf);
}

@font-face {
  font-family: PressStart;
  src: url(../assets/fonts/PressStart2P-Regular.ttf);
}

@font-face {
  font-family: OpenSans;
  font-weight: normal;
  src: url(../assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpenSans;
  font-weight: bold;
  src: url(../assets/fonts/OpenSans-Bold.ttf);
}

/* line 7, ../scss/static.scss */
html, body {
  overflow-x: hidden;
}

/* line 11, ../scss/static.scss */
body {
  color: #595959;
  font-family: OpenSans, Helvetica, Arial, sans-serif;
  background: #f2f2f2;
  margin: 0;
  padding: 0;
}

/* line 19, ../scss/static.scss */
.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -50px 0 0 -50px;
  padding: 40px 30px;
  width: 40px;
  height: 20px;
  font-family: "Fredoka One", Arial, sans-serif;
  text-align: center;
  color: white;
  z-index: 100;
  background-image: url(../assets/img/spinner.gif);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 37, ../scss/static.scss */
#cover {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #595959;
  z-index: 1000;
}

/* line 48, ../scss/static.scss */
#preloader {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  z-index: 1001;
}

/* line 58, ../scss/static.scss */
#logoHolder {
  position: relative;
  margin: 20px;
  z-index: 200;
  pointer-events: none;
}
/* line 64, ../scss/static.scss */
#logoHolder h2 {
  padding: 0 0 0 50px;
  height: 50px;
  color: #d5d5d5;
  line-height: 12px;
  font-size: 24px;
  font-family: "Righteous", sans-serif;
}
/* line 72, ../scss/static.scss */
#logoHolder h2 small {
  font-size: 12px;
}
/* line 77, ../scss/static.scss */
#logoHolder svg {
  position: absolute;
}

/* line 85, ../scss/static.scss */
h1 {
  position: absolute;
  top: -40px;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  font-family: StorefrontPro, Helvetica, Arial, sans-serif;
  font-size: 70px;
}
/* line 94, ../scss/static.scss */
h1 small {
  position: relative;
  top: 50px;
  font-size: 30px;
}

/* line 101, ../scss/static.scss */
#warning {
  display: none;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -225px;
  width: 450px;
  cursor: pointer;
  z-index: 200;
}

/* line 112, ../scss/static.scss */
#popupHolder {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 200;
}

/* line 122, ../scss/static.scss */
#vignette {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/* line 129, ../scss/static.scss */
#popup-support {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  width: 500px;
  height: 200;
  padding: 10px;
  margin-left: -250px;
  margin-top: -150px;
  color: white;
  font-size: 18px;
  line-height: 28px;
  background: #263f51;
  border-radius: 0px;
  border: none;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.4);
}
/* line 147, ../scss/static.scss */
#popup-support img {
  position: absolute;
  top: -50px;
  left: -50px;
}
/* line 153, ../scss/static.scss */
#popup-support a {
  color: #49799b;
  font-weight: bold;
  text-decoration: none;
}
/* line 158, ../scss/static.scss */
#popup-support a:hover {
  opacity: 1;
  text-decoration: underline;
}
/* line 164, ../scss/static.scss */
#popup-support .dotted {
  padding: 20px;
  padding-top: 40px;
  height: 135;
  border: 3px dashed #49799b;
}
/* line 171, ../scss/static.scss */
#popup-support .support-btn {
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
  padding: 15px 25px;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
}
/* line 181, ../scss/static.scss */
#popup-support .try-btn {
  min-width: 120px;
  color: #a0d3be;
  border-top: 2px solid #a0d3be;
  background-color: #214747;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #214747), color-stop(100%, #2f6361));
  background: -webkit-linear-gradient(bottom, #214747, #2f6361);
  background: -moz-linear-gradient(bottom, #214747, #2f6361);
  background: -o-linear-gradient(bottom, #214747, #2f6361);
  background: -ms-linear-gradient(bottom, #214747, #2f6361);
  background: linear-gradient(bottom, #214747, #2f6361);
}
/* line 188, ../scss/static.scss */
#popup-support .try-btn:hover {
  opacity: 1.0;
  color: #fff;
  border-top: 2px solid #fff;
}
/* line 195, ../scss/static.scss */
#popup-support .dl-btn {
  width: 150px;
  color: #e5bf23;
  border-top: 2px solid #e5bf23;
  background-color: #802d0a;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #802d0a), color-stop(100%, #d14913));
  background: -webkit-linear-gradient(bottom, #802d0a, #d14913);
  background: -moz-linear-gradient(bottom, #802d0a, #d14913);
  background: -o-linear-gradient(bottom, #802d0a, #d14913);
  background: -ms-linear-gradient(bottom, #802d0a, #d14913);
  background: linear-gradient(bottom, #802d0a, #d14913);
}
/* line 202, ../scss/static.scss */
#popup-support .dl-btn:hover {
  opacity: 1.0;
  color: #fff;
  border-top: 2px solid #fff;
}

/* line 210, ../scss/static.scss */
#credits, #warning, .popup, #startCopy, #camera, #charSVG, blockquote, #paradeAboutBtns, #utils, .sky, canvas, #carouselHitArea, #slide1 {
  display: none;
}

/* line 214, ../scss/static.scss */
#main {
  position: relative;
  width: 900px;
  height: 6100px;
  margin: auto;
  background-position: center top;
  background-repeat: no-repeat;
}

/* line 223, ../scss/static.scss */
#introView {
  width: 100%;
  z-index: 200;
}
/* line 227, ../scss/static.scss */
#introView h1, #introView #introLoader {
  display: none;
}

/* line 232, ../scss/static.scss */
article {
  position: absolute;
  max-width: 450px;
  padding: 20px;
  font-size: 100%;
  line-height: 24px;
  color: #333;
  z-index: 150;
}
/* line 241, ../scss/static.scss */
article h3 {
  color: #999;
  line-height: 32px;
  font-size: 32px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 10px;
}
/* line 250, ../scss/static.scss */
article.section1 {
  top: 305px;
  right: 0px;
  background: #f2f2f2;
}
/* line 256, ../scss/static.scss */
article.section2 {
  top: 850px;
  left: 50%;
  background: #daecef;
}
/* line 260, ../scss/static.scss */
article.section2 h3 {
  color: #E2756D;
}
/* line 265, ../scss/static.scss */
article.section3 {
  top: 1600px;
  left: 100px;
  background: #daecef;
}
/* line 269, ../scss/static.scss */
article.section3 h3 {
  color: #05C9BA;
}
/* line 274, ../scss/static.scss */
article.section4 {
  right: 200px;
  top: 2300px;
  left: auto;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}
/* line 280, ../scss/static.scss */
article.section4 h3 {
  color: #4EC3C7;
}
/* line 285, ../scss/static.scss */
article.section5 {
  top: 3050px;
  right: 200px;
  left: auto;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}
/* line 293, ../scss/static.scss */
article.section6 {
  top: 3800px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}
/* line 297, ../scss/static.scss */
article.section6 h3 {
  color: #9b0097;
}
/* line 302, ../scss/static.scss */
article.section7 {
  top: 4600px;
  color: white;
  background: #003E4F;
}
/* line 306, ../scss/static.scss */
article.section7 h3 {
  color: #29ABE2;
}
/* line 311, ../scss/static.scss */
article.section8 {
  top: 5400px;
  background: #DFDAEF;
}
/* line 314, ../scss/static.scss */
article.section8 h3 {
  color: #D0A61D;
}

/* line 320, ../scss/static.scss */
#staticVisuals {
  position: absolute;
  top: 0px;
  width: 100%;
}

/* line 326, ../scss/static.scss */
section {
  position: relative;
  width: 100%;
  height: 768px;
  background-repeat: repeat-x;
  background-position: bottom center;
}

/* line 334, ../scss/static.scss */
#bgOne {
  background-image: url(../assets/img/static/bg1.png);
}
/* line 337, ../scss/static.scss */
#bgOne .div {
  position: absolute;
  bottom: 20px;
  left: 20%;
}

/* line 344, ../scss/static.scss */
#bgTwo {
  background-image: url(../assets/img/static/bg2.png);
}
/* line 347, ../scss/static.scss */
#bgTwo .div {
  position: absolute;
  bottom: 30px;
  left: 20%;
}
/* line 353, ../scss/static.scss */
#bgTwo .css {
  position: absolute;
  bottom: 20px;
  right: 20%;
}

/* line 360, ../scss/static.scss */
#bgThree {
  background-image: url(../assets/img/static/bg3.png);
}
/* line 363, ../scss/static.scss */
#bgThree .div {
  position: absolute;
  bottom: 30px;
  left: 20%;
  z-index: 1;
}
/* line 370, ../scss/static.scss */
#bgThree .svg {
  position: absolute;
  bottom: 20px;
  right: 20%;
  z-index: 0;
}

/* line 378, ../scss/static.scss */
#bgFour {
  background-image: url(../assets/img/static/bg4.png);
}
/* line 381, ../scss/static.scss */
#bgFour .div {
  position: absolute;
  bottom: 220px;
  left: 25%;
  width: 100px;
}
/* line 388, ../scss/static.scss */
#bgFour .transform {
  position: absolute;
  bottom: 10px;
  left: 20%;
}

/* line 395, ../scss/static.scss */
#bgFive {
  background-image: url(../assets/img/static/bg5.png);
  border-bottom: 3px solid white;
  border-top: 3px solid white;
}
/* line 400, ../scss/static.scss */
#bgFive .canvas {
  position: absolute;
  left: 50%;
  top: 30%;
  z-index: 0;
}
/* line 407, ../scss/static.scss */
#bgFive .div {
  position: absolute;
  bottom: 50px;
  left: 20%;
  z-index: 1;
}

/* line 415, ../scss/static.scss */
#bgSix {
  background-image: url(../assets/img/static/bg5.png);
}
/* line 417, ../scss/static.scss */
#bgSix .webgl {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
}
/* line 424, ../scss/static.scss */
#bgSix .div {
  position: absolute;
  right: 10%;
  bottom: 20px;
  z-index: 1;
}

/* line 432, ../scss/static.scss */
#bgSeven {
  background-image: url(../assets/img/static/bg6.png);
}
/* line 435, ../scss/static.scss */
#bgSeven .blend {
  position: absolute;
  right: 10%;
  bottom: 20px;
}
/* line 441, ../scss/static.scss */
#bgSeven .div {
  position: absolute;
  left: 10%;
  bottom: 20px;
}

/* line 448, ../scss/static.scss */
#bgEight {
  background-image: url(../assets/img/static/bg7.png);
}
/* line 451, ../scss/static.scss */
#bgEight .shader {
  position: absolute;
  right: 10%;
  bottom: 70px;
  z-index: 0;
}
/* line 458, ../scss/static.scss */
#bgEight .div {
  position: absolute;
  left: 10%;
  bottom: 20px;
  z-index: 1;
}

/* line 466, ../scss/static.scss */
#carouselHolder {
  text-align: center;
}

/* line 470, ../scss/static.scss */
.carousel-content {
  display: inline-block;
  width: 460px;
  height: 460px;
  padding: 20px;
  margin: 10px;
  vertical-align: top;
  text-align: left;
  overflow: hidden;
  background: white;
}
/* line 481, ../scss/static.scss */
.carousel-content h3 {
  font-size: 32px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 30px;
}
/* line 488, ../scss/static.scss */
.carousel-content p {
  font-size: 20px;
  margin: 0;
  margin-bottom: 20px;
}

/* line 495, ../scss/static.scss */
#resolve {
  text-align: center;
}
/* line 498, ../scss/static.scss */
#resolve p {
  display: none;
}
/* line 502, ../scss/static.scss */
#resolve img {
  position: relative;
  display: block;
  margin: 100px auto 30px;
}
/* line 508, ../scss/static.scss */
#resolve a {
  color: #003E4F;
  text-decoration: none;
}
/* line 512, ../scss/static.scss */
#resolve a:hover {
  opacity: 0.5;
}

@media screen and (max-width: 900px) {
  /* line 519, ../scss/static.scss */
  #introTitle {
    display: block;
    position: relative;
    width: 90%;
    margin: auto;
  }

  /* line 526, ../scss/static.scss */
  #main {
    width: 100%;
  }

  /* line 531, ../scss/static.scss */
  article.section1 {
    top: 205px;
  }
  /* line 535, ../scss/static.scss */
  article.section2 {
    left: 0px;
  }
  /* line 539, ../scss/static.scss */
  article.section3 {
    left: 0px;
  }
  /* line 543, ../scss/static.scss */
  article.section4 {
    right: 0px;
  }
  /* line 547, ../scss/static.scss */
  article.section5 {
    right: 0px;
  }

  /* line 553, ../scss/static.scss */
  div .div {
    width: 30%;
  }
  /* line 557, ../scss/static.scss */
  div .css {
    width: 30%;
  }
  /* line 561, ../scss/static.scss */
  div .canvas {
    width: 50%;
  }
  /* line 565, ../scss/static.scss */
  div .webgl {
    width: 100%;
  }
  /* line 569, ../scss/static.scss */
  div .blend {
    width: 30%;
  }
  /* line 573, ../scss/static.scss */
  div .shader {
    width: 50%;
  }

  /* line 579, ../scss/static.scss */
  #bgThree .svg {
    width: 60%;
    right: 0px;
  }

  /* line 586, ../scss/static.scss */
  #bgFive .canvas {
    left: 30%;
  }

  /* line 592, ../scss/static.scss */
  #bgSix .webgl {
    top: 40%;
  }

  /* line 598, ../scss/static.scss */
  #bgFour .div {
    width: 100px;
  }

  /* line 603, ../scss/static.scss */
  .carousel-content {
    position: relative;
    width: auto;
    display: block;
  }
  /* line 608, ../scss/static.scss */
  .carousel-content img {
    position: absolute;
  }

  /* line 613, ../scss/static.scss */
  #logoHolder {
    visibility: hidden;
  }

  /* line 617, ../scss/static.scss */
  #warning {
    width: 100%;
    text-align: center;
    margin: 0;
    left: auto;
  }
  /* line 623, ../scss/static.scss */
  #warning img {
    width: 50%;
  }

  /* line 628, ../scss/static.scss */
  #popup-support {
    left: auto;
    top: auto;
    width: auto;
    margin-left: 0px;
    margin-top: 50px;
  }
}
