@import "compass/css3";
@import "screen/vars";


$popup-height: 200;

body {
    color: $gray6;
    font-family: $SourceSans;
    background: $gray0;
    margin: 0;
    padding: 0;
}

#logoHolder{
    position: relative;
    margin: 20px;
    z-index: 200;
    pointer-events: none;

    h2{
        padding: 0 0 0 50px;
        height: 50px;
        color: $gray3;
        line-height: 12px;
        font-size: 24px;
        font-family: $Righteous;
        
        small{
            font-size: 12px;
        }
    }

    svg{
        position: absolute;
        // *{
        //     fill: white;
        // }
    }
}

h1{
    position: absolute;
    top: -40px;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    font-family: $StorefrontPro;
    font-size: 70px;
    
    small{
        position: relative;
        top: 50px;
        font-size: 30px;
    }
}

#popupHolder{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 200;
}

#vignette{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#popup-support{
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    width: 400px;
    height: $popup-height;
    padding: 10px;
    margin-left: -200px;
    margin-top: -150px;
    color: white;
    font-size: 18px;
    background: #361d41;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.4);

    a{
        color: #00afdf;
        text-decoration: none;

        &:hover{
            opacity: 0.5;
        }
    }

    .dotted{
        padding: 20px;
        height: $popup-height - 10;
        border: 3px dashed #682464;
    }

    h3{
        position: absolute;
        top: -40px;
        width: 100px;
        padding: 10px 20px;
        color: #361d41;
        font-family: $FredokaOne;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        line-height: 24px;
        background: red;
        @include background(linear-gradient(top, #64d0ee, #00b0da, #00b1e8));
        @include single-box-shadow(rgba(0, 0, 0, 0.3), 3px, 3px, 3px);
    }
}

#warning, .popup, #startCopy, #camera, #charSVG, blockquote, #paradeAboutBtns, #utils, .sky, canvas, #carouselHitArea, #slide1{
    display: none;
}

#main{
    position: relative;
    width: 600px;
    height: 6100px;
    margin: auto;
    background-position: center top;
    background-repeat: no-repeat;
}

#introView{
    width: 100%;
    height: 100%;

    #introTitle{
        margin-left: -170px;
    }

    h1, #introLoader{
        display: none;
    }
}

article{
    position: absolute;
    max-width: 450px;
    padding: 20px;
    font-size: 100%;
    line-height: 24px;
    color: #333;
    z-index: 150;
    
    h3{
        color: #999;
        line-height: 32px;
        font-size: 32px;
        font-weight: normal;
        margin: 0;
        margin-bottom: 10px;
    }

    &.section1{
        top: 305px;
        left: 150px;
        background: $gray0;
    }

    &.section2{
        top: 700px;
        left: 50%;
        background: $blue0;
        h3{
            color: #E2756D;
        }
    }

    &.section3{
        top: 1500px;
        left: 100px;
        background: $blue0;
        h3{
            color: #05C9BA;
        }
    }

    &.section4{
        right: 200px;
        top: 2300px;
        left: auto;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        h3{
            color: #4EC3C7;
        }
    }

    &.section5{
        top: 3050px;
        right: 200px;
        left: auto;
        color: white;
        background: rgba(0, 0, 0, 0.5);
    }

    &.section6{
        top: 3800px;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        h3{
            color: #9b0097;
        }
    }

    &.section7{
        top: 4600px;
        color: white;
        background: #003E4F;
        h3{
            color: #29ABE2;    
        }
    }

    &.section8{
        top: 5400px;
        background: #DFDAEF;
        h3{
            color: #D0A61D;
        }
    }
}

#staticVisuals{
    position: absolute;
    top: 0px;
    width: 100%;
}

section{
    width: 100%;
    height: 768px;
    background-repeat: repeat-x;
    background-position: top center;
}

#bgOne{
    background-image: url(../assets/img/static/bg1.png);
}

#bgTwo{
    background-image: url(../assets/img/static/bg2.png);
}

#bgThree{
    background-image: url(../assets/img/static/bg3.png);
}

#bgFour{
    background-image: url(../assets/img/static/bg4.png);
}

#bgFive{
    background-image: url(../assets/img/static/bg5.png);
    border-bottom: 3px solid white;
    border-top: 3px solid white;
}

#bgSix{
    background-image: url(../assets/img/static/bg5.png);
}

#bgSeven{
    background-image: url(../assets/img/static/bg6.png);
}

#bgEight{
    background-image: url(../assets/img/static/bg7.png);
}

#carouselHolder{
    text-align: center;
}

.carousel-content{
    display: inline-block;
    width: 460px;
    height: 460px;
    padding: 20px;
    margin: 10px;
    vertical-align: top;
    text-align: left;
    overflow: hidden;
    background: white;

    h3{
        font-size: 32px;
        font-weight: normal;
        margin: 0;
        margin-bottom: 30px;
    }

    p{
        font-size: 20px;
        margin: 0;
        margin-bottom: 20px;
    }
}

#credits{
    display: none;
}
