@import "compass/css3";
@import "screen/vars";



body {
    color: $gray6;
    font-family: $SourceSans;
    background: $gray0;
}

#logoHolder{
    position: relative;
    margin: 20px;
    z-index: 200;
    pointer-events: none;

    h2{
        padding: 0 0 0 50px;
        height: 50px;
        color: white;
        line-height: 12px;
        font-size: 24px;
        font-family: $Righteous;
        
        small{
            font-size: 12px;
        }
    }

    svg{
        position: absolute;
        *{
            fill: white;
        }
    }
}

canvas{
    display: none;
}

h1{
    position: absolute;
    top: -40px;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    font-family: $StorefrontPro;
    font-size: 70px;
    
    small{
        position: relative;
        top: 50px;
        font-size: 30px;
    }
}

#warning{
    display: none;
}

#popupHolder{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 200;
}

#vignette{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

$popup-height: 200;

.popup{
    display: none;
}

.sky{
    position: absolute;
}

#popup-support{
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    width: 400px;
    height: $popup-height;
    padding: 10px;
    margin-left: -200px;
    margin-top: -150px;
    color: white;
    font-size: 18px;
    background: #361d41;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.4);

    a{
        color: #00afdf;
        text-decoration: none;

        &:hover{
            opacity: 0.5;
        }
    }

    .dotted{
        padding: 20px;
        height: $popup-height - 10;
        border: 3px dashed #682464;
    }

    h3{
        position: absolute;
        top: -40px;
        width: 100px;
        padding: 10px 20px;
        color: #361d41;
        font-family: $FredokaOne;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        line-height: 24px;
        background: red;
        @include background(linear-gradient(top, #64d0ee, #00b0da, #00b1e8));
        @include single-box-shadow(rgba(0, 0, 0, 0.3), 3px, 3px, 3px);
    }
}

#startCopy{
    display: none;
}

#camera{
    display: none;
}

#charSVG{
    display: none;
}

blockquote{
    display: none;
}

#main{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: $blue0;
}

#introView{
    width: 100%;
    height: 100%;
    background: $terrain;
}

.site-descriptor{
    display: none;
}
