@import "compass/css3";
@import "screen/vars";


@mixin artcl{
    display: block;
    position: absolute;
    max-width: 450px;
    padding: 20px;
    font-size: 100%;
    line-height: 24px;
    color: #333;
    z-index: 150;
}

$popup-height: 200;

html, body{
    overflow-x: hidden;
}

body {
    color: $gray6;
    font-family: $SourceSans;
    background: $gray0;
    margin: 0;
    padding: 0;
}

.spinner{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -50px;
    padding: 40px 30px;
    width: 40px;
    height: 20px;
    font-family: $FredokaOne;
    text-align: center;
    color: white;
    z-index: 100;
    background-image: $spinner;
    background-repeat: no-repeat;
    background-position: center center;
    @include appearance(none);
}

#cover{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: $gray6;
    z-index: 1000;
}

#preloader{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: $gray0;
    z-index: 1001;
}

#logoHolder{
    position: relative;
    margin: 20px;
    z-index: 200;
    pointer-events: none;

    h2{
        padding: 0 0 0 50px;
        height: 50px;
        color: $gray3;
        line-height: 12px;
        font-size: 24px;
        font-family: $Righteous;
        
        small{
            font-size: 12px;
        }
    }

    svg{
        position: absolute;
        // *{
        //     fill: white;
        // }
    }
}

h1{
    position: absolute;
    top: -40px;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    font-family: $StorefrontPro;
    font-size: 70px;
    
    small{
        position: relative;
        top: 50px;
        font-size: 30px;
    }
}

#warning{
   display: none;
   position: absolute;
   top: 20px;
   left: 50%;
   margin-left: -225px;
   width: 450px;
   cursor: pointer;
   z-index: 200;
}

#popupHolder{
    // display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 200;
}

#vignette{
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
}

#popup-support{
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    width: 500px;
    height: $popup-height;
    padding: 10px;
    margin-left: -250px;
    margin-top: -150px;
    color: white;
    font-size: 18px;
    line-height: 28px;
    background: #263f51;
    border-radius: 0px;
    border: none;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.4);
    
    img{
        position: absolute;
        top: -50px;
        left: -50px;
    }

    a{
        color: #49799b;
        font-weight: bold;
        text-decoration: none;

        &:hover{
            opacity: 1;
            text-decoration: underline;
        }
    }

    .dotted{
        padding: 20px;
        padding-top: 40px;
        height: $popup-height - 65;
        border: 3px dashed #49799b;
    }

    .support-btn{
        display: inline-block;
        margin-top: 20px;
        margin-right: 10px;
        padding: 15px 25px;
        font-weight: bold;
        text-align: center;
        border-radius: 4px;
    }

    .try-btn{
        min-width: 120px;
        color: #a0d3be;
        border-top: 2px solid #a0d3be;
        background-color: #214747;
        @include background(linear-gradient(bottom, #214747, #2f6361));

        &:hover{
            opacity: 1.0;
            color: #fff;
            border-top: 2px solid #fff;
        }
    }

    .dl-btn{
        width: 150px;
        color: #e5bf23;
        border-top: 2px solid #e5bf23;
        background-color: #802d0a;
        @include background(linear-gradient(bottom, #802d0a, #d14913));

        &:hover{
            opacity: 1.0;
            color: #fff;
            border-top: 2px solid #fff;
        }
    }
}

#credits, #warning, .popup, #startCopy, #camera, #charSVG, blockquote, #paradeAboutBtns, #utils, .sky, canvas, #carouselHitArea, #slide1{
    display: none;
}

#main{
    position: relative;
    width: 900px;
    height: 6100px;
    margin: auto;
    background-position: center top;
    background-repeat: no-repeat;
}

#introView{
    width: 100%;
    z-index: 200;

    h1, #introLoader{
        display: none;
    }
}

article{
    h3{
        color: #999;
        line-height: 32px;
        font-size: 32px;
        font-weight: normal;
        margin: 0;
        margin-bottom: 10px;
    }
}

#article1{
    @include artcl;
    display: block;
    position: absolute;
    top: 305px;
    right: 0px;
    background: $gray0;
}

#article2{
    @include artcl;
    display: block;
    position: absolute;
    top: 850px;
    left: 50%;
    background: $blue0;
    h3{
        color: #E2756D;
    }
}

#article3{
    @include artcl;
    display: block;
    position: absolute;
    top: 1600px;
    left: 100px;
    background: $blue0;
    h3{
        color: #05C9BA;
    }
}

#article4{
    @include artcl;
    display: block;
    position: absolute;
    right: 200px;
    top: 2300px;
    left: auto;
    color: white;
    background: black;
    h3{
        color: #4EC3C7;
    }
}

#article5{
    @include artcl;
    display: block;
    position: absolute;
    top: 3050px;
    right: 200px;
    left: auto;
    color: white;
    background: black;
}

#article6{
    @include artcl;
    display: block;
    position: absolute;
    top: 3800px;
    color: white;
    background: black;
    h3{
        color: #9b0097;
    }
}

#article7{
    @include artcl;
    display: block;
    position: absolute;
    top: 4600px;
    color: white;
    background: #003E4F;
    h3{
        color: #29ABE2;    
    }
}

#article8{
    @include artcl;
    display: block;
    position: absolute;
    top: 5400px;
    background: #DFDAEF;
    h3{
        color: #D0A61D;
    }
}

#staticVisuals{
    position: absolute;
    top: 0px;
    width: 100%;
}

section{
    position: relative;
    width: 100%;
    height: 768px;
    background-repeat: repeat-x;
    background-position: bottom center;
}

#bgOne{
    background-image: url(../assets/img/static/bg1.png);

    .div{
        position: absolute;
        bottom: 20px;
        left: 20%;
    }
}

#bgTwo{
    background-image: url(../assets/img/static/bg2.png);

    .div{
        position: absolute;
        bottom: 30px;
        left: 20%;
    }

    .css{
        position: absolute;
        bottom: 20px;
        right: 20%;
    }
}

#bgThree{
    background-image: url(../assets/img/static/bg3.png);

    .div{
        position: absolute;
        bottom: 30px;
        left: 20%;
        z-index: 1;
    }

    .svg{
        position: absolute;
        bottom: 20px;
        right: 20%;
        z-index: 0;
    }
}

#bgFour{
    background-image: url(../assets/img/static/bg4.png);

    .div{
        position: absolute;
        bottom: 220px;
        left: 25%;
        width: 100px;
    }

    .transform{
        position: absolute;
        bottom: 10px;
        left: 20%;
    }
}

#bgFive{
    background-image: url(../assets/img/static/bg5.png);
    border-bottom: 3px solid white;
    border-top: 3px solid white;

    .canvas{
        position: absolute;
        left: 50%;
        top: 30%;
        z-index: 0;
    }

    .div{
        position: absolute;
        bottom: 50px;
        left: 20%;
        z-index: 1;
    }
}

#bgSix{
    background-image: url(../assets/img/static/bg5.png);
    .webgl{
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 0;
    }

    .div{
        position: absolute;
        right: 10%;
        bottom: 20px;
        z-index: 1;
    }
}

#bgSeven{
    background-image: url(../assets/img/static/bg6.png);

    .blend{
        position: absolute;
        right: 10%;
        bottom: 20px;
    }

    .div{
        position: absolute;
        left: 10%;
        bottom: 20px;
    }
}

#bgEight{
    background-image: url(../assets/img/static/bg7.png);

    .shader{
        position: absolute;
        right: 10%;
        bottom: 70px;
        z-index: 0;
    }

    .div{
        position: absolute;
        left: 10%;
        bottom: 20px;
        z-index: 1;
    }
}

#carouselHolder{
    text-align: center;
}

.carousel-content{
    zoom: 1;
    display: inline-block;
    *display: inline;
    width: 460px;
    height: 460px;
    padding: 20px;
    margin: 10px;
    vertical-align: top;
    text-align: left;
    overflow: hidden;
    background: white;

    h3{
        font-size: 32px;
        font-weight: normal;
        margin: 0;
        margin-bottom: 30px;
    }

    p{
        font-size: 20px;
        margin: 0;
        margin-bottom: 20px;
    }
}

#resolve{
    text-align: center;

    p{
        display: none;
    }

    img{
        position: relative;
        display: block;
        margin: 100px auto 30px;
    }

    a{
        color: #003E4F;
        text-decoration: none;

        &:hover{
            opacity: 0.5;
        }
    }
}

@media screen and (max-width: 900px) {
    #introTitle{
        display: block;
        position: relative;
        width: 90%;
        margin: auto;
    }

    #main{
        width: 100%;
    }

    article{
        &.section1{
            top: 205px;
        }

        &.section2{
            left: 0px;
        }

        &.section3{
            left: 0px;
        }

        &.section4{
            right: 0px;
        }

        &.section5{
            right: 0px;
        }
    }

    div{
        .div{
            width: 30%;
        }

        .css{
            width: 30%;
        }

        .canvas{
            width: 50%;
        }

        .webgl{
            width: 100%;
        }

        .blend{
            width: 30%;
        }

        .shader{
            width: 50%;
        }
    }

    #bgThree{
        .svg{
            width: 60%;
            right: 0px;
        }
    }

    #bgFive{
        .canvas{
            left: 30%;
        }
    }

    #bgSix{
        .webgl{
            top: 40%;
        }
    }

    #bgFour{
        .div{
            width: 100px;
        }
    }

    .carousel-content{
        position: relative;
        width: auto;
        display: block;

        img{
            position: absolute;
        }
    }

    #logoHolder{
        visibility: hidden;
    }

    #warning{
        width: 100%;
        text-align: center;
        margin: 0;
        left: auto;

        img{
            width: 50%;
        }
    }

    #popup-support{
        left: auto;
        top: auto;
        width: auto;
        margin-left: 0px;
        margin-top: 50px;
    }
}
